<section class="row issue">
    <ul class="contributors col-md-10">
        <li style="font-family: SimSun;text-decoration: none;">
            <%= link_to " Notice of Public Hearing is a pamphlet of artist and writers against the rezoning of 105 Keefer", "105-speeches.pdf", target: :blank, class: 'special-link' %>
                <p>Vince Tao, Stephan Wright, Byron Peters, Kay Higgins, Dan Pon, listen chen 陳聽春</p>
                <p>Six transcripts of artists, writers, arts administrators, gallery technicians, and artworkers speaking before City Council at the public hearing regarding the rezoning of 105 Keefer Street from a Chinatown Historic Area (HA-1A District) to a Comprehensive Development (CD-1 District).
                </p>
        </li>
    </ul>
</section>
