<section class="row issue">
    <ul class="contributors col-md-4">
        <p>Charcuterie 3: Need not pander</p>
        <li>
            <%= link_to " Notice of Public Hearing is a pamphlet of artist and writers against the rezoning of 105 Keefer", "105-speeches.pdf", target: :blank, class: 'special-link' %>
        </li>
    </ul>
    <div id="issue-one-images" class="col-md-8 carousel slide" data-interval="6000" data-ride="carousel">
        <div class="carousel-inner float-right" role="listbox">
            <div class="carousel-item active">
                <%= image_tag "charc-3-3", class: "img-fluid" %>
            </div>
            <div class="carousel-item">
                <%= image_tag "charc-3-4", class: "img-fluid" %>
            </div>
            <div class="carousel-item">
                <%= image_tag "charc-3-5", class: "img-fluid" %>
            </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#issue-one-images" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a> -->
        <!-- <a class="carousel-control-next" href="#issue-one-images" role="button" data-slide="next"> -->
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        <!-- </a> -->
    </div>
</section>