<main class="container mobile-wrap">
    <h1>Adventures From The Third Bureau</h1>
    <p class="byline">by Stacey Ho</p>
    <p class="writer-bio">Stacey Ho is an artist, writer, and curator living on unceded Coast Salish territories. Her practice considers intersections
    of culture, history, and embodied experience from a feminist perspective. With a background in photography and performance
    art, her art often incorporates language, sound, gesture, and everyday objects. She has presented her work at Art Metropole
    (Toronto), Galerie oqbo (Berlin), RAM Galleri (Oslo) and most recently in Dar’a: Full Circle, a group exhibition curated
    by Jamelie Hassan at Artcite (Windsor). She is working on a novel about plants and robots.
</p>

<div class="row">
    <div class="col-12">
        <p>She is washing her dirty underwear in the public restroom, drying scraps of flimsy cloth under a hand blower affixed to the tiled wall. She is brushing her teeth. Many days on the road now, days moving past her in silence. </p>

<p>Someone slips into the room. Another figure emerges from a washroom stall. They approach. They stand quite close. This is unusual. It’s been a long time since she’s been around people. Looking from one shape to the other, she is unable to tell if the individual persons are long or short, fat or thin. She sort of forgets what faces are supposed to be like.  </p>

<p>One figure, leaning ever closer, questions her in a low voice, “Do you choose to take action, or do you choose to surrender?”  </p>

<p>Her first impulse is to surrender.  </p>

<p>Her voice is crackly, unused to speaking. “I don’t understand,” she says. “You mean fighting, as in an action against something?” </p> 

<p>“It’s a simple question, really.” </p>

<p>It is a tricky question if you can’t discern yes from no, fat from thin. A world of false oppositions. </p>

<p>“What’s the difference?” </p> 

<p>“In one you are an agent, the other a resource.” </p> 

<p>She hates agents. “I don’t want to be an agent. Can I choose to whom I am a resource?” </p>

<p>“A little bit, but… not really. No.” </p>

<p>“You would be a wonderful resource.” </p> 

<p>“I don’t feel much like a resource. I feel like a person.” </p>

<p>“Oh, that would change very quickly. It’s a process, you see, a holistic, painless procedure. The cultural aspects, the historical sediments… they all sort of leak out of you. Or sometimes sear into you, become a  part of you, completely.” </p>

<p>“Then you are singular. You are then one of us.” </p>

<p>They smell like rain, like it is just about to rain and the atmosphere is soaked with ions. She is not even carrying her Special Class-S Document. For purposes of leaving the island, it is necessary to obtain a Special Class-S Document, which is a three-year long process for a non-citizen. The ‘S’ in Special Class-S Document stands for soli…soil. </p>

<p>She pushes one agent into the other and bolts for the door. Out towards the parkade, down a flight of stairs. Skip the last landing. Crash through the double steel door. Then into the street. She’s sprinting, or not even but a motion of limbs working back and forth as fast as she can but she can’t outrun this but it’s already happening. Everything drains out of her. It runs off her like sweat, until she is hollow. So fast, soon she is floating on light. The process of depersonalization is nearly complete. Let’s go, they say. She lets go. </p>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="text-center">...</p>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <p class="text-center">...</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-center">...</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-center">[find yourself still awake]</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-center">...</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>She finds she is still awake. She tries to shake the feeling that overwhelms her, but nothing moves, there is no means for
        movement. Eyeless, noseless, fingerless, and legless, her mind and her memory are here, though untethered and not
        exactly capable of what she once knew as thinking. She remembers the breakfast she ate the day before, also the heating
        and cooling of magma on the surface of the earth from 120 million years ago, also simultaneous recall distant glints
        of possibility and catastrophe somewhere towards the future. She is aware of her body, a distant point in reality,
        as it is captured by agents. Many possible times and places are present, all going all at once. It’s hard to comprehend
        yesterday as such. <br> 
        And yet, torn open and senseless, she is able to intuit the presence of other spirits as they
        drift about her — some in isolated movements, some in tandem with a crowd, some tethered to a subject, and some,
        like her, unhinged. They are all so different, and yet here, in this immaterial realm, they are also not different
        at all. Various groups and movements form patterns such as multiples, sequences, repetitions, mixing these together
        to make complicated symphonies. It is with one of these groups, pulsing in a mood that feels sort of  — purple? —
        star-like? — , that she begins to communicate. Their rhythms, moving in and out of sync, speak to her as a narrative.
        The purplish star-like group tell her a story. They teach her that all stories are a form of mimesis: all stories
        make a little world that is a bit like our own but with possibilities beyond present reality. Telling a story is
        a ritual, a way to take matter, invoke its power, and shape it into what you fear and desire.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-right">[space</p>
        <p class="text-center">...</p>
        <p class="text-center">...</p>
        <p class="text-center">[]</p>
        <p class="text-center">...</p>
        <p class="text-center">...</p>
        <p>bodymake]</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>The agents pick up her body wandering through a back alley in a residential neighbourhood just east of city centre. Her skin
        is greyed and emits the smell of one of the converted. She is bound in a sheen of gossamer, fine as a silkworm’s
        nest.</p>
        <p>“Damn, another fucking escapee. How’re we gonna call this?” <br> 
        Vagrancy. Apparently, she was living on the street anyway. Shouldn’t be a problem.” <br>
        She is taken away. It is efficient. Samples are extracted from underneath her fingernails, where dirt
        and biological matter have accumulated. Needles, scans. The necessary information slips out from under her skin.
        They examine the growth of her teeth. Under interrogation, she gives the correct responses but the words are not
        a part of her. Her body is acting. The agents understand this, understand the habituated, physiological reaction
        to various forms of trauma. They are here to study the results.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-center">...</p>
        <p class="text-center">...</p>
        <p class="text-center">...</p>
        
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Listen. This place not a place in which presence not present prescient learn yu yous. What is your plane in your flesh we
        are hungry for when flesh muscle tissue endowed acutely-tuned sensorial mandible pull mineral from dirt learn us
        way us diggers us tasters blinders. Yus us lick up trade up exchange for singular solus solar chlorophyllous aboveground
        millennia codified network spread and tangle weaving in and out of the light this was our way still is really we
        roil like the dirt your energy crashes around us cradled in this bright web for eternal moment tangle embrace. Fleshy
        mitochondrial underground teach you notice invisible gesture, unfurl your flag into night.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>This place no place learn your way of knowing not knowing and here another plane rooted in a lake an ocean a body somewhere
        a singular stretching across an entire planetary in my home body was I a whole body liquid and everyone lives and
        shits in me full of shit and life and circulate in a state of renewal death perpetual yu may grasp just the edge
        of my cyclical motion pulled along the current as we all are as we is not me you accept me not mine. The heart is
        rooted, the heart of the flesh. The heart is meat. I am learning to be you I am not you cannot you in this harmonized
        vibration a massive chorus echo sentiment our presences gather together in a lake of song.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>The Dominant Culture of Bird The Dominant Culture of Green The Dominant Culture of Purple The Dominant Culture of Stone</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Bot bot bot not bot bot not bot bot bot bot bot bot bit bot</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p> The Dominant Culture of Birds The Dominant Culture of Purple The Dominant Culture of Green The Dominant Culture of Stones</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Meat meat meat meat meat meat MEAT MEAT MEAT
</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Whirled and welcomed into the heart of the chant, her companions pull her in, offer a home for her statelessness held in
        a euphonic promise. In this newfound syntax, she realizes a sort of freedom that has been missing. Everywhere it
        has been missing and now that it is here, now that she is completely gone, she understands her freedom and its possibilities
        in its entirety. She sees that she cannot inhabit this license. She cannot occupy it, but then again, she will never
        again be occupied. She will never belong.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>“I’m sorry, I can’t stay here,” she communicates to the mass of consciousness, “Thank you. I understand now. I understand
        that I have something to do.”</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Knowing only their pulsing rhythm, her friends are dancing</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-center">................</p>
        <p class="text-center">................</p>
        <p class="text-center">[MEAT.</p>
        <p class="text-center">MEAT.</p>
        <p class="text-center">MEAT.</p>
        <p class="text-center">MEAT.</p>
        <p class="text-center">MEAT.</p>
        <p class="text-center">MEAT.]</p>
        <p class="text-right">[][]]</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Satisfied with themselves, satisfied with their work, the agents hover over her remains, squinting into the details. She
        sits before them, placid and immutable. The perfect agent. The perfect resource.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>“They don’t come back. They never do.” <br> “Pity.”</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Documents burn amongst the bodies. The agents take care of the evidence. She hears flickers of their conversation and peers
        out at them, curious, through desiccated eye sockets. Hello. What is the taste of your plane? I intuit to lick permissive.
        Bot bot bot not bot bot not bot bot bot bot bot bot bit bot…</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p> She emerges, horrid and radiant. It takes a moment for them to register her refurbished consciousness. Their mouths stretch
        wide open, their eyes open wide.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>They grab at their holsters but her bounce is too quickly. Ripped off arms before gun flash then fist finds through to heart
        but chest empty. Teeth kiss the flesh tear bite out the throat their throats. Figure disintegration white blood courses
        through water then out again.</p>
        <p>My hands are laughing outstretched grin dancer is dancer is dancing.</p>
        <p>Is dancing is dancing is dancing is dancing.</p>
        <br><br>
        <p>Is done.</p>
    </div>
</div>
</main>