<main class="container mobile-wrap">
  <h1>The Bus as Hostile Architecture II</h1>
  <p class="byline">by Sungpil Yoon</p>
  <%= image_tag "speed2", class:"img-fluid mx-auto d-block" %>
  <p class="image-caption">Still from Speed, 1994. Directed by Jan de Bont
Distributed by 20th Century Fox</p>
  <p class="writer-bio">Sungpil Yoon is a
    writer and curator. He is Director of Spare Room,
    a subsidiary of Rice Cooker/Hair Salon Inc. a non-profit organization
    that explores the composition of theories and objects through the
    lens of artistic practices. Yoon is a graduate of the UBC Art History
    department and currently works in Vancouver from 222, a studio
    building in Chinatown. <br>
    The Bus as Hostile Architecture is the second of five texts by Sungpil
    Yoon that are informed by his bus commutes from Lynn Valley to
    Downtown Vancouver. Read “The Bus as Hostile Architecture: Part 1”
    in Charcuterie 2 or online here.</p>

  <div class="row">
      <div class="col-12">
          <p class="editorial-intervention">The Bus as Hostile Architecture II is the second of five short stories by Sungpil Yoon that will appear in Charcuterie.</p>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h4>Stories of regulars</h4>
          <p>They share the bus with me.
          Sometimes I play a game<br>
          As to where they will sit<br>
          I am always right<br>
          Because people are predictable<br>
          But mostly<br>
          Because patterns form<br>
          subconsciously.<br>
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h4>Slightly off schedule</h4>
          <p>It is about 3:20pm, a weekday in 1998. Probably Autumn. My
            sister and I are running to catch the bus. It only comes through
            the main road and school is a bit of a walk. I run and run, to the
            bus stop that I always go to. It’s the one beside a church that
            looks like a community centre, or a community centre that looks
            like a church. I went back to this location years later to find that
            this church centre had turned into a cafe. The bus narrowly
            misses me but I manage to create enough of a fuss that I can
            wave it down for the extra ten seconds while I run and catch up
            to it. Completely out of breath, I get on. As I walk past the driver
            he confronts me and says, “Did I wait for you?” the driver is a bit
            shy of middle age, with a slight comb-over and a pair of large
            translucent-framed glasses. I manage to drag out an answer
            similar to “yes.” He looks at me with utter disapproval, “Then
            you say, THANK YOU!” as if to scold me for having been so rude
            to not acknowledge his gesture of kindness.
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <h4>Nod on home</h4>
        <p>
        This regular that I ride the bus with is a very large man. He
        appears to be narcoleptic. He is nodding off every 30 seconds
        and I always see him on the 1am bus. He misses his transfer in
        one of the stop-overs because he’s always asleep when he gets
        there. This seems to be an ongoing joke with the bus drivers
        during one of the loops where they all congregate to discuss
        shitty passengers in unison. Very large man seems to have a
        serious lung problem. He coughs out his entire organs until all
        seats within a 6-ft radius are left vacant. He also falls asleep
        at a level that can be considered narcolepsy. He is so out of it.
        Nowadays he has started to bring a guitar case with him to the
        bus. I like to think he is the DJ for a sports stadium because he
        looks the part in my mind.
      </p>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <h4>Shopping spree (Tokyo)</h4>
        <p>
I am riding the metro. Train is close to empty except for the odd
seat here and there. A woman that looks to be in her early 30s
gets on the train with an older woman. Perhaps family, perhaps
not. The younger woman is wearing a white mask. She starts to
yell “SHOPPING!!!” in Japanese out loud (I only find out what 
she said afterwards, after asking a friend). She starts to bang on
the train windows as she continues to yell “SHOPPING!!!” over
and over until the older woman calms her down.
</p>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <h4>Someone that I used to not know</h4>
        <p>
Running for the bus once again. I see someone I recognize at
the stop who I almost never run into. Catching my breath, I ask <br>
“How are you?”, <br>
“Hey! I’m good. I’ve just been—” <br>
My bus arrives abruptly as she is about to respond to my
attempted small talk only after a few words in. I have to catch
this. It’s the last one of the night. I cut them off,<br>
“I’m so sorry to do this, but I have to catch the bus.”<br>
I make that face that everyone makes when they want to project
empathy but require that they maintain their stance of saying
“No”.
<br>
I think to myself, that was not nice.</p>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <h4>The 80’s businessman in navy blue</h4>
        <p>
He is already there when I get on the bus.
I see him sitting in the back, and as always, wearing a dark
blue suit at least a size too big for him coupled with an equally
large overcoat. He has a black leather messenger bag that has
multiple cracked sections from wear and tear that he rests on
his lap. This bag looks like it has been used every day for the
last 15 years. He has a haircut that is about an inch in length
with a slightly receding hairline. Every 15 seconds he fidgets
in his seat, looking for something in his bag. He never seems
to find what he is looking for and stops for a short period, only
to look again and again for the duration of his bus ride. He
looks concerned. He fixes his glasses intermittently, and seems
uneasy about people sitting next to him. About 15 minutes in
he continues to fidget, but this time is different as he finally
takes out something. It is a transparent plastic bag labelled,
“Dempster’s”. It’s originally a bag used to house a loaf of bread
which I have seen in grocery stores for $4.99. Within it, he
takes out something from another package. It is covered in wax
paper. Inside it looks to be a sandwich. I get the feeling that his
mouth is very dry because every time he chews it does not sound
succulent, or enjoyable. Like eating dry cereal. He seems like
he’s just stuffing nutrients into his mouth to fill the void. I can’t
smell anything else on that sandwich. Is he just eating two slices
of bread? The smell of yeast fills the bus interior. It’s not quite
a punch of aroma, but enough to notice that the bread could be
slightly expired. <br>
Every single day that I see him on the bus, and this is his ritual.
He looks so uneasy that I just want to give him a hug. If not, I
imagine he will explode in a fit of anxiety.
</p>
      </div>
  </div>

<%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %> 
</main>