<main class="container mobile-wrap">
  <h1>When Exhibitions Flatten Black Experience</h1>
  <p class="byline">by Denise Ryner</p>
  <p class="writer-bio">Denise Ryner has worked in commercial, public and artist-run galleries in Toronto and Vancouver for over ten years. These
    include Art Metropole,Justina M.Barnicke Gallery,the Jackman Humanities Institute,the Vancouver Art Gallery, SFU Galleries
    as well as the Haus der Kulturen der Welt in Berlin. She completed her BA and MA in art history at the University of
    Toronto and the University of British Columbia respectively. Currently she is the Director/Curator at Or Gallery, Vancouver.</p>

  <div class="row">
    <div class="col-12">
      <p>In 2015 a series of multiple, intermittent and precarious roles comprised my involvement in Vancouver’s artist run
        and public gallery scene. In that year I worked as an independent curator, paid curatorial intern, sessional instructor
        in curatorial studies, volunteer gallery board member, gallery assistant in a commercial space and copywriter of
        exhibition didactics. The range of these positions indicate how invested I was in Vancouver’s contemporary art institutions
        more than the necessity to rid myself of financial debt amassed from my recently completed graduate degree. Towards
        the end of 2015 I found myself questioning my decision to work in the area of contemporary art in Canada. I wondered
        how often I would have to overlook the critical blind spots that resulted in exhibitions and events that continued
        to marginalize my own agency, culture and humanity within a field and institutions where I was supposed to situate
        my practice.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Three exhibitions in Vancouver’s artist run centers took place in 2015. What links them to each other and to the pro-
        fessional crisis I encountered are that they each forefronted the appropriation of black culture and used black bodies
        as a medium. None of the artists identified themselves as Black, African or members of a Black diaspora. These artists
        all had solo exhibitions in Vancouver’s artist run and public galleries during a year when there was only one solo
        exhibition of a Black-identifying artist.(1) However, this did not improve the fact that the majority of representations
        of Black culture and bodies in artist run centers that year were those engaged in their own reification and estrangement
        through authorship by non-Black artists.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>In early 2015, the Contemporary Art Gallery (CAG) presented Canadian artist Jeremy Shaw’s filmwork Variation FQ (2011-2013),
        which revolves around a dance routine choreographed and performed by Leiomy Maldonado. Shaw learned about Maldonado
        through online videos of the dancer, who identifies as transgender, Afro-Puerto Rican and is well known within and
        beyond New York’s underground ballroom scene. Her online presence confirms that she is a respected performer and
        activist who astutely manages her image and career, so it’s doubtless that she negotiated proper compensation for
        her time and work with Shaw. While Maldonado’s work is able to circulate in spaces associated with contemporary art,
        such as the CAG and the National Gallery of Canada, Shaw’s abstraction of Maldonado’s dancing body removes her from
        her public, identity and creative authorship.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>I observed the same phenomenon when only a month later Artspeak presented a solo exhibition by Invernomuto, an Italian
        art collective consisting of Simone Bertuzzi and Simone Trabucchi. This time Jamaica’s dub subculture was on display
        for Vancouver’s contemporary art public in the form of famous living legend, Lee “Scratch” Perry who the artists,
        self-professed fans, filmed as a strutting, flamboyant, yet isolated caricature, charged with making amends for
        Italy’s crimes against Ethiopia and its then leader, Haile Selassie I, on their behalf. Invernomuto’s work, entitled
        Negus, refers to a negative Italian archetype that was applied to Selassie I after his overthrow by Italy’s fascist
        forces during WWII. The artists’ ethnographic isolation of Perry, his patois and Rastafarian declarations within
        a context of their invention and control, similarly to Shaw’s treatment of Maldonado, is a slickly aestheticized
        voyeurism and process of identification whereby the audience is meant to recognize the figures in Shaw’s and Invernomuto’s
        work as ‘other-than-us’. This flattening and differencing of black-diasporic culture by non-black artists was central
        to the work of another artist who presented a solo exhibition in Vancouver in 2015.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>French artist Lili Reynaud-Dewar engages both of these strategies throughout her practice that has referenced Sun Ra,
        Josephine Baker and African-American hip hop culture. I was a curatorial intern, without influence on exhibition
        programming, at the Audain Gallery in Vancouver when she presented her fall 2015 solo exhibition, My Epidemic.
        This body of work was comprised of an installation and series of closed seminars based on the syllabus of Norwegian
        artist Bjarne Melgaard. My Epidemic largely, yet no less problematically, addressed the AIDS crisis, but the exhibition
        also included a performance that was an offshoot of a series in which she used video and security cameras as surveillance
        of her body in architecture. Often, Reynaud-Dewar created this work during closed hours in the emptied gallery or
        museum where she is exhibiting, however in film footage of her performances she doesn’t simply wander through these
        art institutions, she moves and dances in a manner culturally coded from 1920s negro revues and minstrel shows. Her
        attempt at hammed up versions of the Charleston are ostensibly in honour of Josephine Baker. To emphasize this, she
        completely covers her nude body in paint that varies from one colour to another with each performance. However, coloured
        paint appears as blackface in the surveillance videos that her work has been documented and presented through. In
        one iteration, African textiles are hanging in the background. Reynaud-Dewar has regularly embodied another artist
        or personality by wearing their style of clothing or featured performers wearing body paint. ReynaudDewar reverted
        and reinforced stereotypes of the non-white female body as wild trickster, located after-hours and peripheral to
        culture, to invoke Baker. Baker, a dancer, activist and member of the Pan-African movement aimed to produce independent
        black and black-diasporic literacy, that performance and artistic communities adamantly worked to defend from the
        very essentializing mimicry that ReynaudDewar was illustrating.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Both the Contemporary Art Gallery and the Audain Gallery held versions of public talks following protests made by myself
        and others about the way black culture was presented in the Shaw and ReynaudDewar exhibitions. As is often the
        case, these were ineffective discussions that by design maintained and reaffirmed the authority and perspective
        of the galleries in their ability to neatly appropriate protest into public programming.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>I am now preparing to take up a role as Director/Curator of Vancouver’s Or Gallery and am fully aware that as a black-identified
        woman, my appointment and decisions can nonetheless repeat and further entrench the exclusion, fixing and alienation
        of particular voices and bodies in the critical space of the gallery unless I consistently work to do otherwise.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>My work as a curator continues to research and critically consider the function of black culture and bodies in delimiting
        space and establishing a hierarchy of authorship in contemporary art which has lead me to a long-running debate in
        literature around the use of blackness and the agency of black writers. In her 1992 analysis of American identity
        as constructed through a selection of that country’s literary works, writer Toni Morrison demanded that, “...we
        need studies of the technical ways in which an Africanist character (what she terms a Black figure instrumentalized
        in literature) is used to limn out and enforce the invention and implications of whiteness.”(2)</p>
    </div>
  </div>



  <div class="row">
    <div class="col-12">
      <p>Morrison proposed analyses of the strategies that employ black characters to define and enhance the qualities of white
        characters, including attempts to represent knowledge of the other in order to address external and internal chaos
        within the writers, or artists concerned. She points out how Black narratives are appropriated in the construction
        of context for white culture and the positing of history-less-ness and context-less-ness for blacks. In other words,
        we need to know why the fate of non-white bodies is to be flattened and emptied of experience, history and humanity.
        African-American writers James Baldwin and Zora Neale Hurston address this question through a focus on narrativity
        and who is granted the privilege to narrate beyond their culture, body and experience. They each seize claims to
        transcultural authorship and the ability to return the alienating, ethnographic gaze.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>In Baldwin’s most famous work of fiction, Giovanni’s Room (1958), he narrates the existential crisis of a young, wealthy
        caucasian, American protagonist named David. David is at the heart of a group of other itinerant Americans and Europeans
        through whom Baldwin examines strategies of difference and ordering as in each encounter or memory of them, David
        instrumentalizes the other, their hard or soft, dark or fair bodies to gauge how his nationality, gender, class and
        sexuality grant his claims to space and agency above and beyond his various consorts. Only David retains a fluid
        subjectivity in contrast to the other fixed bodies. Having studied anthropology and the ethnographic gaze, Zora Neale
        Hurston, turned to the vernacular arenas of Broadway and Hollywood where, as she divulged in a 1942 letter to a friend,
        she thought she might finally be able to break “that old silly rule about Negroes not writing about white people,”
        which she did with Seraph on the Suwanee.(3) Throughout her career as an anthropologist and writer, Hurston continually
        wrote about her access, claim and hesitance to record and publish the stories of those she studied and lived amongst.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>While Baldwin is not alone in centering white experience to subvert white authorship of black experience, his fiction
        and critical essays indicate to me that this act of authoring the Other, fixing and flattening is entangled with
        the role of the gaze that is so central to the critical analysis of gender, class and racial representation in the
        visual arts. In his essay, “The Black Boy Looks At the White Boy,” Baldwin asserts, “I know how power works, it has
        worked on me, and if I didn’t know how power worked, I would be dead.”(4) For me to understand what a curatorial
        practice is capable of assuming about its possible audience, I find it useful to think of Baldwin’s representations
        of power through his white protagonists in combination with the appropriation of non-white bodies for the benefit
        of the gaze in visual art.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <p>Artist and writer Lorraine O’Grady proposes that there is neither the possibility of a choice, nor separation in
        cultural representations of the female body. Her 1992 essay Olympia’s Maid examined the dependent process of identity
        in depictions selected from modern and contemporary art history. For O’Grady, images of the female body are always
        comprised of an ‘obverse and a reverse’ or ‘white and nonwhite’ that cannot be isolated: “The black female’s body
        needs less to be rescued from the masculine ‘gaze’ than to be sprung from a historic script surrounding her with
        signification while at the same time, and not paradoxically, it erases her completely.”(5)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>What is at stake with uncritically programming representations of black culture and bodies by non-black artists and
        curators is not so much the protection of identity or the idea of authenticity, but rather the very practical consequences
        for cultural workers such as myself. Namely, the reproduction of ongoing exclusions and struggles for space in contemporary,
        public art institutions in relation to labour and recruiting as well as artistic practices.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="mobile-footnote">(1) David Hartt,adrift,Or Gallery in Spring 2015.</p>
      <p class="mobile-footnote">(2) Toni Morrison,Playing In The Dark: Whiteness and the Literary Imagination,(Cambridge,MA: Harvard University Press,1992),pp.52–53.</p>
      <p class="mobile-footnote">(3) Elizabeth Binggeli,“Hollywood Wants a Cracker: Zora Neale Hurston and Studio Narrative Culture”,33–52 in Plant,Deborah
        G. “The Inside Light”: New Critical Essays on Zora Neale Hurston. (Santa Barbara: Calif. Plant,Deborah G. 2010.),p.37.</p>
      <p class="mobile-footnote">(4) James Baldwin,“The Black Boy Looks At the White Boy,”Nobody Knows My Name,(US: Vintage Press,1961),p.232.</p>
      <p class="mobile-footnote">(5) Lorraine O’Grady,“Olympia’s Maid: Reclaiming Black Female Subjectivity,“New Feminist Criticism: Art/Identity/Action”,Icon
        Editions, HarperCollins, 1994, pp. 152-170.</p>
    </div>
  </div>

  <%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %>
</main>