<main class="container mobile-wrap">
    <h1>Troubling Gender Assumptions  in Miranda July’s  “The First Bad Man”</h1>
    <p class="byline">by Maxwell Addington</p>
    <%= image_tag "maxwell", class:"img-fluid" %>
        <p class="image-caption">Inside cover - Miranda July's "The First Bad Man"</p>
        <p class="writer-bio">Maxwell Addington is a writer from Vancouver, Coast Salish Territory. In 2017, he was awarded the Jill Davis Fellowship
            to pursue an MFA in Fiction at New York University.</p>

        <div class="row">
            <div class="col-12">
                <p>I was disappointed to see Miranda July’s latest novel described as “strenuously quirky,” “peculiar,” and
                    “rather odd” in the opening paragraph of Laura Miller’s review in The Guardian. To be fair, The First
                    Bad Man is a weird book, as it playfully twists the tropes of a typical love story. But still, my hackles
                    go up whenever I see fiction described as “quirky” — not least because the word is too often used to
                    write off July’s books and films as twee — but because the word has become synonymous with a whole vein
                    of popular culture that is working to dissolve the constraints of mainstream taste. Because July is not
                    shy about foregrounding non-normative, and sometimes troubling, forms of intimacy, her work can make
                    people uncomfortable. But for Miller to imply that July’s novel requires some sort of unreasonable effort
                    is nothing more than proof that the reviewer has misunderstood the book’s critical significance. With
                    Judith Butler’s Gender Trouble fresh in my mind, I did not find the novel at all strenuous to decode.
                    To make sense of its peculiarity, I prefer to think of the novel as a response to the lasting echoes
                    of Butler’s influential writings on gender identity. When Butler asks, “What kind of gender performance
                    will enact and reveal the performativity of gender in a way that destabilizes the naturalized categories
                    of identity and desire” (2551), July’s book responds with a parodic romantic comedy that achieves the
                    ultimate feat of contemporary literary fiction, being at once theoretical and transgressive, without
                    sacrificing humour or readability.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>The First Bad Man is narrated by Cheryl Glickman, a Los Angeles woman in her early forties who works at a
                    self-defense dojo and pine for an older man. Cheryl’s mundane life is derailed when her employers’ daughter
                    Clee moves in, begins attacking Cheryl, falls in love with Cheryl, has a baby with Cheryl, and eventually
                    leaves Cheryl to raise the child alone. No summary could capture the book’s brilliant weirdness, though
                    it is enough to establish that the narrative does not fall under that of a traditional love story rubric.
                    The attacks Clee doles out are initially alarming, but Cheryl quickly notices that Clee always holds
                    back from injuring her, which prompts a revelation: “I was in on it. We were playing a game, an adult
                    game”. When Cheryl drafts a contract for their game, Clee feels the need to awkwardly declare her sexuality:
                    “‘I’m not...you know. I’m into dick’”. Cheryl confirms that she too is straight, but Clee clarifies:
                    “‘For me it’s a little more intense.’ ... ‘I guess I’m “misogynist” or whatever’”. Cheryl comments, “I’d
                    never heard of the word used like this, like an orientation”. The moment reads like a disconcerting joke:
                    On one level it is unexpected to hear anyone self-identify as misogynist, because people tend not to
                    freely admit their hideous prejudices; and on another level, it is even more jarring to hear a woman
                    admit that she hates women. And though the moment, when quoted out of context, may sound like the naive,
                    off-hand comment of a clueless teenager, Clee’s admission is a pivotal moment that goes a long way to
                    explaining her hitherto “quirky” behaviour.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Even though misogyny’s provenance has, historically, been attributed to awful men, July’s novel denaturalizes
                    that assumption. Clee, as the daughter of a couple who produce women’s self-defense videos, has grown
                    up watching simulations of vulnerable women being attacked by bad men. But instead of identifying with
                    the victim, Clee learned to identify with the male attackers. By writing this gender discordancy into
                    Clee’s character, July is responding to Butler’s idea that parody “reveals that the original identity
                    after which gender fashions itself is an imitation without an origin” (2550). Which is to say that, within
                    a culture that sets up and maintains gendered binaries such as female and male, victim and attacker,
                    gay and straight, one’s polarized identity is not reflective of an internal “natural” organizing principle,
                    but of how one has come to imitate and perform culturally assigned roles.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>In Gender Trouble, Butler discusses the significance of trouble: “The rebellion and its reprimand seemed
                    to be caught up in the same terms ... : the prevailing law threatened one with trouble, even put one
                    in trouble, all to keep one out of trouble. Hence, I concluded that trouble is inevitable and the task,
                    how best to make it, what best way to be in it” (2540). In The First Bad Man, Clee enters Cheryl’s life
                    to trouble her assumptions about gender and sexuality. With July’s inviting an immersive first-person
                    narration, the reader and Cheryl alike must learn how to be in that trouble.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>For all its eccentricities, Cheryl’s story is not so uncommon: A woman longs to be with a man, he comes into
                    her life and mistreats her, but still, they fall in love and have a baby, only to see the man grow distant
                    and abandon the woman to raise the child alone. However, July turns this recognizable plot on its head
                    by having the man’s role performed by a 19-year-old woman. This inversion is significant because it upsets
                    both Cheryl and the reader’s idea of what normal is, and causes one to reconsider how a culture can produce
                    and reproduce aggressive men and passive women. Of course, misogyny is a systemic problem of socialization — i.e.
                    an issue of observed and repeated behaviours and attitudes — while sexual orientations are defined by
                    patterns of involuntary, nuanced and largely inexplicable attractions. Thus, to label misogyny an orientation
                    is absurd. However, that absurdity — that seemingly quirky, weird-for-the-sake-of-weird detail July threw
                    in her story — highlights the absurdity of the dominant culture’s inclination to normalize misogynist
                    practices by viewing misogyny as a natural, unavoidable expression of a rigidly demarcated biological
                    gender binary. In other words, I see this instance of July’s quirk as a hyperbolic analogy that points
                    to a broad social issue. However, Miller’s review does not acknowledge the book’s queerness or destabilizing
                    potential. And while I don’t have enough insight to determine whether Miller is afraid of that potential
                    or if July’s work simply doesn’t appeal to the reviewer’s (mainstream) taste, I don’t see the value of
                    a book review that does nothing more than develop clever new ways of saying, I didn’t like it. Miller’s
                    distaste seems to stem from the fact that she does not see herself reflected in the pages. Specifically,
                    she takes issue with the concentration of peculiarity orbiting July’s protagonist, writing: “It is not
                    that such things could never happen; rather, too many of them happen to not enough people.” But the lack
                    of recognition Miller sees in July’s absurdity ought not to be a bad thing: fiction’s power does not
                    only lie in its ability to remind a reader of how life is, but also of how it could be. If authors wrote
                    more stories that questioned and undermined unconscious, unchecked normativity, readers might be less
                    likely to lazily dismiss work like July’s as “quirky” before considering its political significance.
                    Ultimately, we need more authors like July to answer Butler’s call to make the right kind of trouble
                    in a culture where trouble, especially for marginalized identities, continues to be inevitable. I like
                    to think that July has learned to wear “quirky” as a badge of honour.</p>
            </div>
        </div>
        <div class="row notes">
        <div class="col-12">
            <p class="cited">Works Cited:</p>
            
            <p class="mobile-footnote">Butler, Judith. “From Gender Trouble.” Norton Anthology of Theory & Criticism.</p>

            <p class="mobile-footnote">Ed. Vincent B. Leitch. New York: W. W. Norton, 2010. 2540–2553. Print.</p>

            <p class="mobile-footnote">July, Miranda. The First Bad Man. New York: Scribner,
                2015. Print.</p>
                
            <p class="mobile-footnote">Miller, Laura. “Strenuously Quirky.” Rev. of The First Bad Man, by Miranda July. The Guardian. Guardian News
                and Media Ltd, 11 Feb. 2015. Web. 30 October 2016.</p>
                </div>
        </div>

</main>