<main class="container mobile-wrap">
  <h1>Nice Poem</h1>
  <p class="byline">by Tiziana La Melia</p>
  <div class="nice-image img-fluid d-block mx-auto"></div>
  <p class="writer-bio">Tiziana La Melia is an artist and writer based in Vancouver. Recent exhibitions include The pigeon looks for death in the
    space between the needle and the haystack (2017), LECLERE Centre d’art, Marseille; Broom Emotion (2017), galerie anne
    baurrault, Paris; Johnny Suede (2017), Damien and the Love Guru, Brussels; Kamias Triennale, Quezon City (2017); Stopping
    the Sun in its Course, Ghebaly (2015) Gallery, Los Angeles; Innocence at Home (2015), CSA, Vancouver. Her writing has
    appeared in Agony Klub, The Interjection Calendar, Organism for Poetic Research, The Capilano Review, and C Magazine.</p>

  <div class="row">
    <div class="col-12">
      <p class="editorial-intervention">Acknowledgements: <br> Sheila Delany, A Translation of Osberne Bokenbam’s Legends of Holy Women (1992) <br> Sylvia Plath, Collected
        Poems (1974) <br> Elena Ferrante, Those Who Leave And Those Who Stay (2013)</p>
    </div>
  </div>









  <div class="row">
    <div class="col-12">
      Nice, but... <br>
      Nice, but there’s something, I don’t know. <br>
      Of the fair rose that grew from a sharp thorn, they wore pure virgin wool and liked accounting. <br>
      Nice, but, it’s ok it will be amazing. <br>
      I wasn’t in any position to get rid of them. <br>
      Nice, but only offers me a diet coke and a gluten free cracker. <br>
      Nice, but what’s behind the kindness? <br>
      Nice-y-ish, and thank-you. <br>
      Nice, you are a whistleblower, but the goal is still to own your own house. <br>
      Nice, and get your way. <br>
      Nice, but having been described myself as sugar and spice and everything nice, I think, what
      are they hiding? <br>
      Nice, but makes money from plastic and does nothing in particular. <br>
      Smiling at themselves, they meditate on a smart jacket and steady composure. <br>
      Nice and forgetful is a strategy. <br>
      Nice is nice. <br>
      Nice is a strategy. <br>
      Nice enough for supporting foundations. <br>
      This is a heavy niceness. <br>
      Nice martyred their allowance so they could hang a weird drawing above the toilet. <br>
      Nice, but one day I’ll manage without you. <br>
      Nice, so I was careful not to upset you in any way. <br>
      You may be a saint, and I may be ugly and hairy. <br>
      Nice, and chamber music leaks into this room as I try to figure out what kind of nice. <br>
      Nice, but I have to remember to ask the question, do you need the money? <br>
      Over and over nice. <br>
      Over and over I ignore the but. <br>
      Over and over it brings me numbness. <br>
      Over and over their smiles catch onto my skin, little smiling hooks. <br>
      Nice, but careful not to upset anyone. <br>
      Yet I still depended on them, though I did it regretfully. <br>
      They seem immune to exhaustion. <br>
      They were airy and in perpetual conversation with the sky. <br>
      At the end of summer even the flowers notice you are nice as they unpetal. <br>
      Nice, and I serve you. <br>
      Nice, you mine. <br>
      Nice, but always watching. <br>
      Nice and exquisite or invisible. <br>
      I didn’t want any flowers, I only wanted nice, you never brag, I bragged. <br>
      Basic nice. <br>
      Down-to-earth posture with pollen on a shirt. <br>
      The picture isn’t always a nice one. <br>
      They’d supported me for so long I was limp— <br>
      Nice, but no attention to details <br>
      Nice, but also skirting the subject. <br>
      Nice, but how do they pay the rent? <br>
      We were chatting about something and instead of nice you wrote mice, mice mice. I mean nice. <br>
      Nice, but it’s easy to be nice when you have an inheritance. <br>
      Nice, with no return. <br>
      Nice, but we can’t speak about making a living. <br>
      Nice, but it’s easy to be nice when you have nothing to lose. <br>
      Nice, but skirting the subject. <br>
      Nice, and I don’t want to dislike you because you are so nice.
      Nice, and also stupid when you need to be. <br>
      This you and we, it doesn’t mean you, especially if it’s not nice. <br>
      They’re nice, and I don’t really want to specify pronouns. <br>
      They is nice. <br>
      They’s nice, but, when I close my eyes she lays her fire-red tongue under my heel, and swallows me
      instantly. <br>
      I clench the nice as my shoulders hover at my ears. <br>
      I collect some nice in the hips and chest and neck. <br>
      Nice, but too nice in a tooth. <br>
      Nice, like so many things, is complicated. <br>
      An erasing sighing nice. <br>
      Achingly very agreeable. <br>
      I will nice on you. <br>
      Nice and tells you that getting to work for her is a gift. <br>
      The opportunity is the payment. <br>
      Nice, but I won’t tell you the things I feel that aren’t nice. <br>
      Nice, but I won’t dwell so much with my own hypocrisies, and simply point out how nice this is
      and that is. <br>
      Nice, but doesn’t have time for negativity. <br>
      Nice, and we appreciate the chance to answer your emails all day. <br>
      Nice, that they gave us the gift of booking a room at the hotel so we could ornament her ego,
      this is my assistant. <br>
      They promised to call me her assistant and put me down as managing editor – just online
      though. I wondered why she couldn’t put it down on paper but she quoted someone and
      hummed delete is my favorite button. <br>
      Nice as a piece of ice. <br>
      Nice, but, I needed the money. <br>
      Nice, but I wanted you to lose composure. <br>
      Nice, but doesn’t know that titmice are not mice. <br>
      Nice as a mouse not nice like a rat. <br>
      Nicely put together. <br>
      It’s a gift. <br>
      Put yourself together. <br>
      Days when nice looks micey. <br>
      Titmice were not nice when they opened the bottles of milk left on the front steps in England in
      the 1950s. <br>
      One grandmother is nice. <br>
      The other grandmother was nicer to my brother. <br>
      Great grandmother twisted her nice hair into a cinnamon bun covered by a scarf. <br>
      Sorry rhymes with sister in my baby tongue. <br>
      I apologize because I’m nice, and you tell me your sister is across the ocean. <br>
      Innocent kind of nice. <br>
      Self protective kind of nice. <br>
      Sorry if the hag story is wrong, I never heard it, I only saw it. <br>
      She’s nice, but when she sacrificed her eyes, I wondered if it was really that nice. <br>
    </div>
  </div>


  <%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %>
</main>