<main class="container mobile-wrap">
    <h1>No Studio, No Privilege</h1>
    <p class="jaco-byline">by Jacobo Zambrano</p>
    <%= image_tag  "jaco-spare-room.jpg", class: "img-fluid" %>
    <p class="jaco-bio">Jacobo Zambrano is an artist from Caracas, Venezuela living in Vancouver, Canada. Zambrano is interested in historical
        cultural narratives that are often considered as defining milestones in current socio-political and economic contexts,
        mostly in relation to the global peripheries. The North- South Divide constitutes one of the primary subjects of
        research in his conceptual practice, as this particular paradigm defines how identities have been constructed due
        to modernity, the artist focuses on the potential for new discourses that challenge the dynamic between the Old World
        and the New World within his own immediate context. Zambrano often adopts sculpture in conjunction with installation
        as formal tools in his explorations.</p>
    <div class="row second-page">
        <div class="col-12">
            <p>Located in Vancouver’s political Chinatown, (“political” because it is the only part of the city that has managed
            to maintain a cultural vanguard on the verge of rapid gentrification), Spare Room doesn’t have a proper street
            entrance nor presents itself as a place that ambitiously needs a more centric or mainstream location. On
            the second floor of 222 E Georgia St, amongst artist studios, artist-run centers and publishing offices,
            Sung Pil Yoon has partitioned and repurposed his studio to facilitate projects and collaborations. Yoon,
            a curator and artist, has allowed Spare Room to let artists with very diverse practices participate and exhibit
            their material with no institutional pressures. It is a literal spare room, a utilitarian space, the result
            of an individual’s need to share and invite others to be within. A significant gesture in response to privilege
            and how conceding something economically valuable transforms both the meaning of inclusion and the notion
            of pluralism.</p>
            <p>For the course of 1 year, Spare Room has hosted 6 projects, numerous podcasts, a film room and an audio room
            and many undocumented conversations about what collective consciousness is and how does one develop it in
            our community. Not to mention that limited resources have never thwarted the realization of projects at Spare
            Room.</p>
            <p>Its inaugural exhibition 86, Nigel Dembicki, Genta Ishimura and Ian Lowrie presented an ambitious transformation
            of Spare Room into a rock garden informed by the spatial and philosophical teaching of wabi-sabi as a critique
            of West Coast “isms”. As stated in the accompanying text, “...the space will be transformed into an archive
            of soil samples, a glimpse into multi-dimensional diorama inserts within a floating wall (a “reveal”), and
            deliberate assignments of rocks in odd-number based systems... Dembicki, Ishimura and Lowrie present a synthesis
            of space-efficient hybridity in the nature, composition and architecture of its urbanized setting through
            the lens of Vancouver and its noted imagery of an exaggerated West-Coast life”. Also, Gabi Dao’s fictional
            treatment of cultural sites through her installation “Open Sesame” also considered the potential of space
            and history that Spare Room grants. The structure of the installation quoted the concentric rectangles of
            the Cambodian temple at Angkor Wat with 2x4s. Dao invited James Linton Murphy, an artist with a sensibility
            for humorous appropriations, to collaborate on a soundscape to layer on a lens of colonial tourism characterized
            by a David Attenborough-esque voice-over. “Through this externalization of relics, artifacts and monuments,
            [Open Sesame] attempts to devise a parallel discourse indulging in the colourful mythology and its surviving
            rhetoric of old-world aesthetics”. These two exhibitions are emphatic of the aspects that make Spare Room’s
            collaborative impulse resonate outside formal narratives. </p>
            <p>It’s been a year already. The name Spare Room should at least be slightly familiar by now. What incites my reflection
            on Spare Room is how it consistently programs work that subverts institutional etiquette, and allocates space
            for emerging practices in an urgent, and arguably efficient way. It’s exciting. Yes, there are other spaces
            in Vancouver that share some structural characteristics that I identify with Spare Room, but few of those
            pre-existing spaces challenge or present themselves as a contrasting force against history or conventional
            modes of exhibition making (1). </p>
        </div>
        <div class="col-12 footnotes">
            <p>(1) Another local and artist-run initiative that may fall under a similar inquiry into visibility and maintains
            an experimental momentum akin to Spare Room is The Maillardville Cultural Appreciation Society in Coquitlam
            founded by artist Zebulon Zang, whose mandate simply states that it “is an exhibition space promoting cultural
            exchange and alternative forms of exhibition making.” One may contest my exclusion of CSA Space, which although
            operating independent of public funding for a decade, it has not explicitly positioned itself within non-traditional
            modes of exhibition making, whose website states that to receive an exhibition, one must solicit one of their
            curators for a studio visit and refuses open submissions. </p>
        </div>
    </div>

    <div class="row third-page">
        <div class="col-md-9">
            <p>Spare Room is not publicly funded nor does it stipulate demanding career prerequisites to the individuals who
                are interested in collaborating within it. Conceived as a direct critique to the notion of “the white cube”,
                it examines institutionalized modes of exhibition making and also challenges key concepts such as collaboration,
                environment, situation and space.</p>
            <p>The dynamic of artist/curator surpasses that of a power-relation and, to empower artists and their work, encouragement
                towards pushing the boundaries is always present. Each event aims at the room’s reconstitution through music,
                film, sculptural interventions and site-specific installations, or as Robert Irwin describes as “site conditioned/determined”
                which is the condition that “...the sculptural response draws all its cues (reason for being) from its surroundings”.(2)
                This translates into urgency for total awareness of the specific situation as part of the process of making
                the work. Additionally, “This requires the process to begin with an intimate, hands-on reading of the site.
                This means sitting, watching, and walking through the site, the surrounding areas (where you will enter from
                and exit to), the city at large or the countryside” (Irwin 1985, 27). Arguably, in most cases, it is this
                complete sense of independence and freedom and the opportunity to think, critique, construct, write and make,
                which drives artist and curators to start projects like Spare Room. </p>
            <p>Spare Room comes to existence under challenging circumstances: 1) our local need for exhibition spaces in times
                of capitalist supremacy and, 2) how independent curatorial projects became scarce due to this circumstance.
                The politics of the social atmosphere in which we find ourselves practicing as artists, also imposes many
                norms when it comes to where and how we should exhibit our work. This absurd fact of a nonsensical posture,
                contra-autonomy, should not exist. No institution or individual(s) should dictate nor manipulate the type
                of discourses that emerge from those who are no longer considering traditions and seek to redefine the establishment.</p>

        </div>
        <div class="col-md-2 footnotes">
            <p>(2) Robert Irwin, Being and Circumstance: Notes Toward a Conditional Art (California: Lapis Press,1985) 27.</p>

        </div>
    </div>

    <div class="row fourth-page">
        <div class="col-md-7">
            <div class="col-md-10 offset-md-2">
                <p>We live in times of cultural complexity (for myself, the dichotomy of being a Marxist living within a heavily
                    capitalist society), where the economy no longer only dictates the type of materials we use, but also
                    forces us to reconsider our creative processes, hence the continued course of post-studio practices.</p>
            </div>
            <img class="align-middle img-fluid" src="../assets/jacobo-2.jpg" alt="Install View">
            <p class="caption align-text-bottom">222 East Georgia St</p>
            <p class="footnote">(3) Since authoring this text, career level stipulations have changed across a number of ARCs nationally, shifting
                their emphasis from emergent to emerging practices, this subtle change in word choice seems to suggest more
                openness and inclusivity to young emerging prospects.</p>
        </div>
        <div class="col-md-4">
            <p>We live in times of cultural complexity (for myself, the dichotomy of being a Marxist living within a heavily
                capitalist society), where the economy no longer only dictates the type of materials we use, but also forces
                us to reconsider our creative processes, hence the continued course of post-studio practices. With no more
                studio, it changes how we weigh the privilege to make art, against our survival due to our exorbitant cost
                of living. Where and what are we left with in order to connect with artists in our vicinity? Spaces which
                ask for the reconsideration of the very structures of art and exhibition making in place that determine our
                “professional” status.</p>
            <p>In my experience, I have encountered situations where the proposed work/project is evaluated more quantitatively
                than qualitatively by the institutions in question, which so far has been the main barrier for the realization
                of a given project. The nature of the work and conceptual framework becomes suspiciously secondary as the
                evaluators/jury prioritize “emergent” or artists with higher career levels (minimum 5 years practicing and
                2-3 page CVs).(3) Not to mention that opportunities for the young or emerging to present work within a commercial
                setting in Vancouver are virtually non-existent. Perhaps making and exhibiting the type of work that we want
                to look at and experience, as a community, is a good starting point when considering the function of spaces
                like Spare Room. But prior to considering spaces as such, we need the social and physical space for them
                and secondly, we will need the artists, and voices that will see the space as a surface for new discourse
                to exist and expand, potentially developing a collective voice that will resonate and have a significant
                impact outside the specific situation I’ve just described.</p>
        </div>
    </div>

    <div class="row fifth-page">
        <div class="col-md-10">
            <p>The topic of access and freedom to experiment in a professional context shifts from generation to generation,
                but for me, this is also currently a globalized situation that affects the vast majority of young emerging
                contemporary artists that today find themselves dealing with the politics of institutional hierarchy. To
                illustrate my position, take for example spaces like Biquini Wax, self described, whimsically, as “a Common
                Social Property Company devoted to contemporary art” operating in a house in Mexico City, 820plaza, a repurposed
                auto-body shop in Montreal, Observatorio, a reclaimed rooftop in downtown São Paulo, and Alaska Projects,
                an always-shifting parking lot in Sydney. This wave of artist-run sites, not galleries or centres, which
                aim for experimentation outside art world and market norms, have exponentially gained necessity and momentum
                in the last half decade. Their programming is cross-disciplinary ranging from exhibitions, installations
                and performances to film screenings, readings and symposiums. No institutional aspirations, but serving a
                restless art community. Art no longer feels contained by a neutral, professional space, but rather in dialogue
                to the peculiarities of the site that informs its presence. </p>
            <img class="align-middle mx-auto d-block img-fluid" src="../assets/jaco-3.jpg" alt="Install View">
            <p>Having the opportunity to experience a space like Spare Room in Vancouver should not be dismissed as youthful
                enthusiasm. Though projects like these are itinerant, they are so because they usually are symptomatic of
                the current economic conditions that compel artists and curators to deviate from the white cube, currently
                understood more clearly as an arena of commerce rather than artistic livelihood. Furthermore to site-specificity
                and Spare Room’s commitment to it, what Robert Irwin describes in a consideration of our surroundings goes
                beyond physical nuances, but features socio-political and emotive forces:</p>
            <p>“Here there are numerous things to consider; what is the site’s relation to applied and implied schemes of organization
                and systems of order, relation, architecture, uses, distances, sense of scale? What kinds of natural events
                affect the site – snow, wind, sun angles, sunrise, water, etc.? What is the physical and people density?
                What are the qualities of surface, sound, movement, light, etc.? What are the qualities of detail, levels
                of finish, craft? What are the histories of prior and current uses, present desires, etc.?” This apparent
                list of dry questions can be also taken up as a program towards attuning ourselves spatially in relation
                to the shifting means we have for sharing ourselves and supporting our work, subversively. </p>
        </div>
        <div class="col-md-2 footnotes">
            <p>Installation View</p>
            <p>“Voragem da História” at Observatório, São Paulo, Brazil.</p>
            <p>August 8 - September 5, 2015</p>
        </div>
    </div>
</main>