<main class="container mobile-wrap">
  <h1>BOOK REVIEW:
    <br> “TELL THEM I SAID NO” BY MARTIN HERBERT
    <br> STERNBERG PRESS, 2016</h1>
  <p class="byline">by Bopha Chhay</p>
  <div class="bophas-image img-fluid d-block mx-auto"></div>
  <p class="writer-bio">Bopha Chhay is a writer and curator based in Vancouver. She is co-founder of livedspace, a research and publishing organization.
    She has held positions at Enjoy Public Art Gallery (New Zealand), Afterall (Contemporary arts research and publishing)
    Central Saint Martins College of Arts & Design (UK), 221A Artist run centre and currently holds the position of Director/Curator
    at Artspeak in Vancouver. She provides editorial support for Bartleby Review and is co-founder and an editor of Charcuterie.</p>



  <div class="row">
    <div class="col-12">
      <p>Need not pander</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>I recall a professor of mine mentioning how important it was for us to show up and be present, at openings, at launches,
        at talks, at screenings, at whatever and wherever there were people to see that you were there, that you were engaged.
        Initially I appreciated this sentiment as getting out there to “support one’s peers” and to develop an awareness
        of what was going on in the community. Gradually it became clear that he was preparing us as students for professionalization,
        and that we should be aware of ourselves as operating in a particular niche attention economy. It felt like good
        practical advice, but it also felt strategic and insincere. What would it mean to refuse this advice completely and
        to cultivate absence instead of presence? Martin Herbert’s
        <u>‘Tell Them I Said No’</u> is a collection of essays that contemplates the reasons various artists have decided to
        disengage from the art world and its implications of a highly professionalized system. While acknowledging that self-marketing
        and networking is essentially part of an artist’s role, Herbert contextualizes the practices of ten artists and their
        distinctive strategies that refuse the art world. What does it mean to retreat, to withdraw or refuse to partake
        within a particular art system in which we situate and locate our practice(s)?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Herbert generously dedicates a chapter to each artist’s practice, allowing for the nuances of each artist’s desire,
        needs and reasons for their withdrawal from the art world to reveal themselves through their work; contextualized
        and supported with some biographical information. Each chapter begins to reveal the limitations that the art system
        has on the practices of these artists, notably tensions that arise along the lines of class, gender and race. Deliberate
        withdrawal becomes an immediate disruption to the art system that we know and operate within. Their antagonistic
        position forces us to reconsider the role of the artist within an art system that forefronts and values a highly
        professionalized attitude and approach. The way one conducts their artistic practice becomes a means to negotiate
        power relationships within the art world, relations that actively resist a neoliberal attitude whereby the performance
        of one’s presence becomes a commodified unit. Herbert admiringly refers to these artists as ‘dropouts’ of various
        degrees, whether that be their outright withdrawal from the art world to temporary moments of respite. Agnes Martin,
        Charlotte Ponsenenske, Trisha Donnelly and David Hammons are four of the ten artists Herbert discusses. Their works
        cultivate refusal and the negation of the attention economy that speaks to affirmation and self-determination outside
        of the art system. Martin’s process of self-isolation; Ponsenenske’s belief that the capabilities of art to address
        real social and political problems are insufficient; Donnelly’s strategically choreographed process of withdrawal
        within and around her works; and Hammons elusiveness and the difficulty of categorizing his work.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Agnes Martin’s move westwards from New York City to New Mexico in 1968 has long been considered the ultimate withdrawal
        from the art world. Herbert respectfully addresses Martin’s long term battle with schizophrenia, and how this, along
        with her relocation has influenced how her work continues to be read. This is evident in Martin’s grid paintings
        that induce and encourage a serene transcendental form of engagement with the painted surface. Her body of work has
        long been described as containing something of a mindful and mystical element. The deep voids and supposed emptiness
        of her canvases have drawn obvious comparisons to the expansiveness of the desert and its big skies, as well as the
        necessity for this environment that suited her temperament and self-isolation.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>In 1968 Charlotte Posenenske, who worked in painting and sculpture, made a decision to no longer make art and enrolled
        in a degree in sociology. Herbert discusses Posenenske’s body of work “Square Tube Series” (1967/68) as exemplary
        of her attempt for her minimal sculptural works, through standardized industrial objects to address ideas of collectivity.
        Her works antagonize the system in a way that denies exclusivity or privilege as being held by the object. “They
        are standardized objects designed to behave in non-standardized ways: they restore power to the owners, they’re intended
        to be unruly and subjectively slanted, they remain in flow.” ( 1 ) Through her practice she sought possibilities
        for art’s agency to address social issues. Her intent extended beyond production, where the consumer becomes part
        of the work. Shared authorship reflected her desire for mobilized action amidst the social and political environment
        of the late sixties, as she expressed ‘It is painful to me that art cannot contribute to the solution of urgent social
        problems’. ( 2 ) For Posenenske it seemed as if she had exhausted her search for agency within art that could effectively
        address social and political issues of the time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Trisha Donnelly’s conceptual practice can be seen and considered as a strategically well timed withdrawal. Her lack
        of press releases, or denial of interviews (the title of the book is taken from her request for an interview) or
        didactics within the space of her exhibitions or surrounding her work, places emphasis on the experience of the work
        itself. The intent is never over-contextualized or over-articulated. It exists to be experienced in the time that
        you spend in the space of the exhibition. In Herbert’s discussion of Donnelly’s work ‘The Redwood and The Raven’
        (2004) that he saw at the Tate as part of an exhibition ‘The World as a Stage’ (2007), he narrates returning to the
        Tate on a daily basis to view a series of thirty-one small black and white photographs, which were presented one
        at a time, removed at the end of the day and replaced with another the following day. Herbert says ‘You wanted more,
        aware that the more you received the more you would equate with less’. Whether Donnelly’s withholding works or words,
        the subtractive process requires of the viewer to directly reckon with the work through the material itself, as experienced
        in the space of the gallery.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>My first encounter with David Hammon’s work
        <u>‘Bliz-aard Ball Sale’</u> (1983) was as a photographic slide in an art history lecture. I recall the class suddenly
        becoming more attentive. We were still earnest and severe undergraduates who thought that we were supposed to commit
        to a particular medium; painting, photography, sculpture etc.. Hammons
        <u>‘Bliz-aard Ball Sale’</u> had given us permission to indulge humour and absurdity, material and immaterial forms
        simultaneously, point to issues of race without overstating it, and question the system of the art market. Hammon’s
        work eludes categorization and medium specificity. His rejection of institutional protocols of retrospective exhibitions
        and the art market, is a form of dissent. In doing this he ensures that his artistic practice remains determined
        by himself and not circulating within an art system that co-opts his work. Steven Stern describes Hammon’s elusive
        personality as a form of resistance; ‘Able to choose how and where he engages with a world in which his presence
        is a valuable commodity, Hammons makes his participation bear as much critical weight as his refusals.’ ( 3 )</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <u>‘Tell Them I Said No’</u> encourages us to draft our own rules of engagement of how we want to live and make work
        in the world. In his discussion of the art world as a business that relies heavily on personalities, Herbert questions
        what the stakes of visibility are in the art world today. He puts forward the proposition that withdrawal and refusal
        to partake are timely reminders that an art career need not pander and feed into an excessive and overly demanding
        attention economy. Social media has intensified the links between private interests and the attention economy, where
        often artists are increasingly making their private lives public. Self-promotion and oversharing IRL or online might
        broaden your reach and visibility, but it becomes a commodity in itself, where your presence might be potentially
        compensated for in the speculative possibility of future opportunities. While acknowledging that the artists in his
        collection of essays are at a certain stage in their careers, where they have some leeway in making these decisions
        to step outside and refuse art world protocols, he views their decisions as a sketch of the different possibilities
        for creating and maintaining political and artistic agency within one’s practice. His discussion of these specific
        artistic practices goes against the grain of today’s pressures and asks us to question what’s at stake and how we
        are implicated in systems that don’t necessarily provide a means for us to make art in the ways that we want to,
        or challenge the ways that private interests outweigh wider social and political concerns. In highlighting tactical
        silence or well timed pauses as being of great value to think about where we go from here, he quotes Mark Twain “No
        word was ever as effective as a rightly timed pause.” ( 4 ). Sometimes it’s ok to close the door and leave it shut,
        maybe ajar.</p>
    </div>
  </div>
  <div class='row'>
    <div class="col-12 notes">
      <p class='mobile-footnote'>( 1 ) Martin Herbert, “Manufacturing Dissent” in ‘Tell Them I Said No’, Sternberg Press, Berlin, 2016, p. 42.</p>
      <p class='mobile-footnote'>( 2 ) Ibid., p. 42.</p>
      <p class='mobile-footnote'>( 3 ) <a href="https://frieze.com/article/fraction-whole

        ">https://frieze.com/article/fraction-whole

      </a></p>
      <p class='mobile-footnote'>( 4 ) Martin Herbert, p. 15.</p>
    </div>
  </div>





  <%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %>
</main>