<main class="container mobile-wrap">
    <h1>The Bus as Hostile Architecture</h1>
    <p class="byline">by Sung Pil Yoon</p>
    <%= image_tag "yoon", class:"img-fluid" %>
    <p>Sung Pil Yoon is a writer and curator. He is Director of Spare Room, a subsidiary of Rice Cooker Hair Salon Inc. a non-profit
    organization that explores the composition of theories and objects through the lens of artistic practices. Yoon is a
    graduate of the UBC Art History department and currently works in Vancouver from 222, a studio building in Chinatown.</p>

    <div class="row">
        <div class="col-12">
            <p>The Bus as Hostile Architecture is the first of five short stories by Sung Pil Yoon that will appear in Charcuterie.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
            “All the sex I get, I buy” announces a man on the bus. He has no qualms talking about the most mundane (and the most exciting)
        subject matter to an audience of passengers that really don’t need this right now.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
         The blank lifeless stares that 99% of bus passengers emanate is no coincidence. It maintains a barrier between the stranger
        and you. The bus does not serve to fulfill your social caress. The bus basks in utter indifference, that is your needs and desires.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
        It is a mobile, public space that does not actually serve as an effective social space. There is no meaningful dialogue.
        It is hostile because there is no definite time in place to instill any rapport. It is a transitional space where
        the person you might be trying to speak to can get off any second to go home and find their actual social embrace.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
           A loudly dressed man in his 60s, embracing his punk roots with greased up hair that almost nearly doubles his height asks
        a question out loud at seemingly no one, about which street the bus is turning on. Everyone obviously hears the question
        but no response ever comes to fruition. They are on their phones replying to text messages and emails to people that
        they actually care about. He asks again. And again to no avail. Visibly irritated he stands on the edge of the bus
        before getting off and proclaims “you people are a bunch of social zombies”.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
          Have you ever seen what freedom looks like inside a bus? Have you ever seen hot coffee thrown at a man’s face, or a well-dressed
        grad student calmly vomiting on the side of the centre aisle for at least 30 seconds, or a man clipping his toenails
        in the back of the bus. Another man yells at him to clean up said toenails but it’s too late, he has already stepped
        off the bus. Just like that he is absolved of all his sins. This is what disorienting freedom looks like, for a brief
        moment at a cost of $2.75. You are a new person when you exit the bus.
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
          Most people on the bus have fulfilled their social anxieties, obligations and indulgences outside of the transitional space
        that is the bus. So fulfilled, in fact, there need not be any form of social interactions altogether.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
           A man is listening to a rap song, just loud enough on his head-phones for everyone to hear. He begins to lip sync, and
        then start to actually yell out the lyrics. A woman sitting beside him moves immediately while looking at her smartphone.
        He now starts to make a pistol out of his index finger and pretends to shoot everyone on the bus.</p>
        </div>
    </div>

</main>