<main class="container mobile-wrap">
  <h1>Two Mistakes</h1>
  <p class="byline">by Jamie Hilder</p>
    <%= image_tag "dim", class:"img-fluid mx-auto" %>
  <p class="writer-bio">Jamie Hilder is a Vancouver-based artist and writer whose work engages the intersections of economics and aesthetics. He
    has exhibited work internationally,and his critical writing has appeared in Fillip, Yishu Journal of Contemporary Chinese
    Art,Contemporary Literature, and Public Art Dialogue. His book Designed Words for a Designed World: The International
    Concrete Poetry Movement,1955–1971 (McGill-Queens UP,2016) addresses the effects that technologies of an emergent globalism
    had on the poetry of the mid-twentieth century. He is an instructor in the Critical and Cultural Studies Department at
    Emily Carr University of Art and Design.</p>

  <div class="row">
    <div class="col-12">
      <p>In the summer of 2014 I made two mistakes. The first was that, assuming I would receive a grant, I bought a digital
        projector to install in my apartment. I rationalized the extravagance as a work expense. I make video work sometimes,
        and the projector would allow me to see things in initial stages that I wouldn’t otherwise see until later in the
        editing process or during installation. I didn’t get the grant. And I didn’t have a job or any savings.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>The second mistake is related to the first. I put up a shelf in my living room for the projector. I’d had enough experience
        with projectors to expect the projector’s fan to be loud, so I didn’t want it close to me where I sit while watching
        things, nor did I want to move the painting that hangs above the couch, nor did I want to mount it above and have
        a cord ruin the flatness of my ceiling. So I placed the shelf towards the corner of the room, close to the outlet
        so the cord wouldn’t show, thinking I could just keystone the image onto the wall. I knew enough about projectors
        to anticipate fan noise, but not enough to realize that keystoning is for minor adjustments only, not for projecting
        from oblique angles, and that the more I adjusted the image the lower the quality would be. I eventually bought a
        ceiling mount and a cord management system the same colour as the ceiling. And I ended up with a shelf I neither
        needed nor wanted, a shelf that mocked me every time I looked at it. I’m sure I made other mistakes that summer,
        but these two are my favourites. The projector became an excuse to have people over to watch films, and I turned
        the shelf into a gallery.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>I like to talk during movies. I use Brecht as a way to justify it as a radical political gesture. Several years ago
        while watching Purple Rain in a theater I exclaimed to a friend of mine how bafflingly sexy Prince was, and was asked
        to “please be quiet” by a man sitting in front of me. I hissed back “If you want to be an audience of one, go rent
        the DVD!” A book is an individual space. A theater is a social space. So when I thought about how I could best use
        my projector socially, the idea of talking during movies was the one I found most promising. I had been to some of
        the Dim Cinema programming at the Pacific Cinematheque, where audiences would watch a film and then be encouraged
        to speak about it after in whichever groups they might split into. I thought the films I saw (Dan Starling’s and
        Casey Wei’s) were fantastic, and the conversations after were okay, but I would have preferred them to happen simultaneously.
        So when I decided to invite people with whom I enjoy talking to my home to watch films, the subject line of my first
        email was “Dim-Witted Cinema, or Talking Through Movies.” My apartment, being quite small, could realistically
        only manage 10-13 guests. Some people I invited were uninterested in the project, and never showed up. I stopped
        inviting them. Others were enthusiastic.</p>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-12">
      <p>
        We watched Gung Ho (1986) first, Ron Howard’s distressingly racist treatment of American deindustrialization and the fear
        of Asian modes of production. I thought this would funnel us into more explicitly critical, difficult films like
        Raoul Peck’s Lumumba (2000) or Nikita Mikhalkov’s Anna 6-18 (1994), but when only one person showed up to the second
        screening, Glauber Rocha’s Black God, White Devil (1964), I realized that the programming had to be responsive to
        its audience. So our next film was Mr. Mom (1983), where Michael Keaton—who also stars as a white-working-class everyman
        in Gung Ho—“discovers the inherent inequality of his labour prejudices as he is forced to confront the structurally
        undervalued sphere of domestic work.” That’s how I phrased it in the email invitation, anyway. Subsequent films were
        mostly decided upon collectively in the conversations during and after the films. We watched Patrick Swayze in Roadhouse
        (1989); Denzel Washington in Nick Cassavette’s ham-fisted two-hour-long argument for socialized medicine, John
        Q (2002); the bizarre gentrification thriller Wolfen (1981); and the even more bizarre White Nights (1985), starring
        Gregory Hines and Mikhail Baryshnikov in a Soviet socialism vs American racial-ized capitalism dance battle.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>There were fifteen screenings in total between 2014 and 2016, most of which were accompanied by thematic snacks and
        drinks. At the end of the program, I produced sixteen small, eighty-page full colour books of all my email invitations
        and hand delivered them to everybody who attended a screening. If I’m being honest, I think that book is the best
        thing I’ve ever made.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>The shelf that was meant to hold the projector is a 12”x12”x1/2” piece of bamboo. I have a friend who is a cabinet
        maker and he had some lying around. If I were designing a shelf to be a gallery, it would neither be that size nor
        of bamboo, nor would I put it in a dimly lit corner of my living room over top of a modem, a router, a computer,
        and a rat’s nest of cables. I know about apartment galleries. I know about Barb Choit’s Allergy Gallery and Lee Plested’s
        The Apartment Gallery, though I never visited either. I have been to others, in different cities, and however interesting
        the work might have been, I couldn’t help thinking: “Who thinks art is so important that they want to live with it
        like this? Who likes art THIS much? Who wouldn’t rather this closet be a closet?” I write about art, I teach about
        art, I make art, and I’m close friends with people who do the same. But I have never thought it was a good idea to
        live in a gallery, nor to invite people to my home with art as our primary reason for interacting. I had previously
        considered designating a small section of my apartment as a domestic gallery, mostly because I had some glass display
        cases I really liked (in a way, more than the work that was in them) left over from a couple of exhibitions. I thought
        they would look good in my apartment, and that maybe I could borrow work from friends or make my own exhibitions
        in them, and invite people over to see them. But I never followed through because a) they would have taken up too
        much space in an apartment that is already impeccably organized, and b) I didn’t want to invite people over just
        to look at and contemplate artwork. It seemed like a poor structure for social engagement.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>But the shelf in the corner that would have been more trouble to take down than it would be to leave up seemed like
        an opportunity to investigate the social supports of art and friendship without much sacrifice. The conceptual scaffolding
        I developed around it goes like this: I ask people who and whose work I admire to lend me a piece that will fit on
        a 12”x12” shelf. If they agree, I invite them over to install the work and make them dinner. They leave the work
        for me to live with, and in exchange I write about it and post the text online, along with an image, on a website
        called shelfed.ca. I don’t do any press besides an announcement on my only social media apparatus, a rarely used
        Twitter account. I promise to send the artist the text for their approval in advance of posting it, and to alter
        it in any way they recommend. Then I return the work to them. Initially I imagined exhibitions of 6-8 weeks, but
        they have turned out to be closer to 4-5 months, as other projects with deadlines and pressures and my job often
        get in the way.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    <%= image_tag "swan", class:"img-fluid mx-auto" %>
      <p class="image-caption">Abbas Akhavan's “Swan”</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    <p>
      Abbas Akhavan was the first artist I invited to show, and he lent me a foil swan. Elizabeth Zvonar was the second artist,
      and she lent me a cast-hand incense holder, with incense sticks she made herself. Colleen Brown lent me a box of pocket
      sculptures, all of which I walked around with in my pockets at some point. Steven Brekelmans lent me an assemblage.
      Gabi Dao, whose work is currently on the shelf, lent me her gelatin ears. I’m not sure what food I served for all the
      dinners, but I remember the conversations all being very nice. I remember being grateful and surprised that people
      would bring something that they thought seriously about and made with purpose and leave it with me, and that they would
      come over to spend time talking to me. I remember that I was happy to feed them and have them in my home.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    <%= image_tag "ez", class:"img-fluid mx-auto" %>
    <p class="image-caption">Elizabeth Zvonar,“Leather Gloved Hand; Burned”, 2015</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>It’s a similar gratitude and reciprocity that characterizes the writing I do in response to the work. I have written for journals and for exhibition catalogs, and in those cases always feel a territorial anxiety around readership
        and genre. But as the texts I produce for Shelfed are primarily for the artists, and aren’t written in any kind of
        direct relationship to curatorial framing or gallery residue, the writing has become more personal. I do not select
        which work to borrow, after all, so often find myself at a loss when initially encountering it and thinking about
        how to write about it. I have yet to resent a work in the way I might if I were tasked with reviewing an exhibition
        for a particular publication, and had trouble finding a way to enter it. In those cases, with their deadlines and
        generic research or vernacular pressures, I might find myself—often out of impatience or self-doubt or distance—looking
        for reasons to criticize the work, or the space, or the curation, or the larger structures of exhibiting art. But
        because I live with the work in my home, and generally don’t have conversations about it beyond those I have with
        the artist or with friends who visit and are interested in it, my writing doesn’t take on or respond to the same
        discursive pressures. Because I spend time with the work differently—I eat, drink, nap, watch tv and movies, host
        friends, read, water plants, vacuum and clean in close proximity to it—I think about and through it differently.
        So my text on Abbas’s work begins with an anecdote about my mom’s reaction to one of Abbas’s paintings, and moves
        into historical prohibitions against eating swans. My text on Elizabeth’s work discusses the evening she installed
        the work, and how the piece’s olfactory character was overwhelmed by the smell of forest fires that blanketed Vancouver
        for a few days that summer. I don’t know which days, exactly, or even which year, because the exhibitions aren’t
        dated (though I’m sure I could figure it out if I tried). My text on Colleen’s tactile work includes an investigation
        of a weird, nervous habit I have of touching my keyring or playing with a car’s gear shift in a particular way. I
        entered Steven’s work by thinking about a building I have been fascinated by for years but actively prevent myself
        from knowing in any further detail. I don’t know how I’ll write about Gabi’s work, but I suspect that, like the others,
        it will be rooted in something personal. I hope the artists don’t mind. If one ever does, I’ll write about their
        work differently until they are happy with it. There has yet to be a Works Cited section in any of the texts, despite
        me quoting directly from other sources. I figure, what’s the point? If Google Analytics is anything to go by, nobody
        has visited shelfed.ca in over six months. I think that’s likely a problem with the site, though, since a handful
        of people have mentioned to me that they have looked at it during that time. But my point is that the way I write
        for Shelfed is a different kind of writing, in a specific space, and one that is rooted in a particular relationship
        to art, friendship, and reciprocity.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>When I began thinking about how to frame Dim-Witted Cinema and Shelfed in order to write about them, I thought that
        they might be best understood as ambition-less. Neither of them appear on my professional CVs (art or academic),
        nor have I sought out conventional spaces like conferences, symposia, or journals to theorize or trumpet them. I
        generally don’t talk about them unless other people bring them up, or somebody who is already in my apartment asks
        me about the work on the shelf. Even this text only happened after the editors of Charcuterie, who I like and admire,
        invited me to submit something and then told me that they would prefer a reflection on Shelfed to what I initially
        gave them. But when I say “ambition-less” I fall into the same thought trap that irritates me in others, where everything
        needs to be absorbed into a professional or personal or instagrammable ledger of experience, as if when we’re not
        working actual jobs we’re interning for some future position or relationship that we hope we’ll like better. So I
        won’t say they are ambition-less. Their ambitions are just different. They have a hope and a pleasure my other work
        doesn’t. I’ve been surprised by them.</p>
    </div>
  </div>














  <%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %>
</main>