@import "bootstrap";
@font-face {
  font-family:'SimSun';
  src:font-url('SimSun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  // src:font-url('icofonts.eot?#iefix') format('embedded-opentype')
}

@font-face {
  font-family:'larish_neue_semibold';
  src:font-url('larish_neue_semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  height: 100%;
}
html, body, p {
  margin: 0;
  border: 0;
}

#content-display {
  opacity: 0;
}
#markdown-source {
  display: none;
}


html, body {
  font-size: 17px;
  line-height: 22px;
}
#content-display {
  font-family: Asap;
  font-size: 120%;
  line-height: 1.4em
}
#content-display h1 {
  font-size: 200%;
  font-weight: normal;
}
#content-display h2,
#content-display h3 {
  font-family: Asap;
  font-weight: bold;
}
#content-display h3 {
  font-size: 125%;
}
#content-display h1,
#content-display h2,
#content-display h3,
#content-display h4,
#content-display p {
  margin: 0 0 0.5em;
  line-height: 1.5em;
}
#content-display p {
  text-indent: 6%;
}
#content-display h4 {
  font: inherit;
}
.close {
  a {
    font-family: "SimSun";
  }
}
#content-display a {
  // border-bottom: 2px solid darkcyan;
  color: black;
  text-decoration: none;
}
#content-display ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#frames .panels [data-alongslide-id=intro].panel {
  color: white;
  font-family:'larish_neue_semibold';
  p.jaco-byline {
    font-family:'SimSun';
    margin-bottom: 75px;
  }
  .jaco-bio {
    position: relative;
    p {
    font-family:'SimSun';
     font-size: 0.6em;
     position: absolute;
     bottom: 0;
    }
  }
  .jaco-text-intro {
    p {
      font-size: 0.6em;
      // font-weight: bold;
      line-height: 18px;
    }
  }
}
#frames .panels [data-alongslide-id=intro].panel h1 {
  font-family: 'larish_neue_semibold';
  padding-right: 20%;
  margin-bottom: 50px;
}
#frames .panels [data-alongslide-id=intro].panel {
  background-color: rgb(241, 130, 106);
}


#frames .panels [data-alongslide-id=second-page].panel {
  p {
    font-family: 'larish_neue_semibold';
    font-size: 0.6em;
  }
}

#frames .panels [data-alongslide-id=third-page].panel {
  p {
    font-family: 'larish_neue_semibold';
    font-size: 0.6em;
  }
}

#frames .panels [data-alongslide-id=fourth-page].panel {
  background-color: black;
  p {
    font-family: 'larish_neue_semibold';
    color: white;
    font-size: 0.6em;
    &:nth-child(2) {
      padding-left: 50px;
      text-indent: 0;
    }
  }

  img {
    max-height: 200px;
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
  }
  p.bottom {
    position: absolute;
    bottom: 0;
    font-size: 0.4em;
    font-family: 'SimSun'
  }
}

#frames .panels [data-alongslide-id=fifth-page].panel {
  p {
    font-family: 'larish_neue_semibold';
    // color: white;
    font-size: 0.6em;
    margin-right: 10px;
    // &:nth-child(2) {
    //   padding-left: 50px;
    //   text-indent: 0;
    // }
  }

  img {
    max-height: 450px;
    float: right;
  }
  p.bottom {
    position: absolute;
    bottom: 0;
    font-size: 0.4em;
    font-family: 'SimSun'
  }
}
#frames .panels [data-alongslide-id=sixth-page].panel {
  p {
    font-family: 'larish_neue_semibold';
    font-size: 0.6em;
    margin-right: 10px;
    text-indent: none;
  }

  img {
    max-height: 350px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .jaco-footnotes {
   p {
     font-family: 'SimSun';
     font-size: 0.5em;
     text-indent: 0;
   }
  }
}
#frames .panels [data-alongslide-id=footnotes-page].panel {
  background-color: black;
  .jaco-footnotes {
    position: absolute;
    bottom: 0;
   p {
     color: white;
     font-family: 'SimSun';
     font-size: 0.5em;
     text-indent: 0;
   }
  }
}


@media screen and (max-width: 1024px) {


}

@media screen and (max-width: 950px) {
  // p {
  //   font-size: 0.2em;
  // }
}


@media screen and (max-width: 650px) {


}
