// Place all the styles related to the essays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'SimSun';
  src: font-url('SimSun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  // src:font-url('icofonts.eot?#iefix') format('embedded-opentype')
}

@font-face {
  font-family: 'larish_neue_semibold';
  src: font-url('larish_neue_semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'larish_neue_semibold';
}

.masthead {
  margin-top: 0px;
  margin-bottom: 100px;
  font-size: 0.9em;
  // letter-spacing: 0.09em;
  color: black;
  font-family: "SimSun";
  a {
    color: black;
    text-decoration: underline;
  }
}

.copy-note {
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 14px;
   a {
     color: black;
   }
}
.site-wrap {
  padding-top: 25px;
  min-height: 100vh;
  padding-left: 25px;
  padding-bottom: 100px;
}
.footer {
  margin-top: 15px;
  font-family: 'SimSun', serif, sans-serif;
  line-height: 18px;
  font-size: 0.8em;
}

.image-wrap {
  position: relative;
  .index-img {
    margin-bottom: 50px;
  }
  // .index-img {
  //   position: absolute;
  //   top: 0px;
  //   &:nth-child(1) {
  //     z-index: 0;
  //   }
  //   &:nth-child(2) {
  //     z-index: 1;
  //     top: 100px;
  //   }
  //   &:nth-child(3) {
  //     z-index: 2;
  //     top: 250px;
  //   }
  // }
}

.site-map {
  margin-bottom: 10px;
  li {
    a {
      color: black;
      font-family: 'larish_neue_semibold';

      &:hover {
        text-decoration: underline;
      }
      &:active {
        text-decoration: underline;
      }
    }
  }
}
.contributors {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 0.8em;
  padding-right: 7.5px;
  position: relative;
  p {
    margin-bottom: 10px;
  }
  li {
    position: relative;
    margin-bottom: 15px;
    a {
      position: relative;
      z-index: 10000;
      color: black;
      text-decoration: underline;
    }
    p {
      line-height: 0.9em;
    }
  }
}

#issue-one-images,
#issue-two-images {
  padding-right: 0px !important;
}
.issue {
  // margin-bottom: 100px;
  .carousel-item {
    min-width: 300px;
    justify-content: flex-end;
  }
  img {
    // max-width:auto;
    // max-height:100%;
    // max-width:100%;
    object-fit: contain;
    object-position: 0% 0%;
    max-height: 610.5px;
  }
}

.center-img {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  max-height: 200px;
}

.hidden {
  display: none;
}
.about-section {
  .charc-logo {
    // font-size: 1.2em;
    // font-weight: bold;
    // text-transform: uppercase;
    // letter-spacing: 4px;
    color: black;
  }
}



.order-section {
  font-family: 'larish_neue_semibold';
  ul {
    list-style-type: none;
    padding-left: 0;

    line-height: 1.2em;
  }
  a {
    color: #ed1c24;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 10px;
}
.special-link {
  color: black;
  &:hover {
    color: black;
  }
}
