#frames .panels [data-alongslide-id=intro-zibin].panel h4 {
  font-family: 'larish_neue_semibold';
  padding-right: 0%;
  // position: absolute;
  margin-top: 5%;
  margin-left: 5%;
}
#frames .panels [data-alongslide-id=intro-zibin].panel {

  background-color: rgb(38, 143, 240);

  color: black;
  font-family:'larish_neue_semibold';

  div.intro-card {
    margin-top: 5%;
    height: 80%;
    width: 30%;
    left: 40%;
    position: absolute;
    background-color: white;
    z-index: 15;
    font-weight: bold;
    border: 2px solid black;
  }

  img.philosopher-party {
    max-height: 200px;
    position: absolute;
    left: 30%;
  }

  p.byline {
    font-family:'SimSun';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 0.5em;
    margin-left: 5%
  }
  p.bio {
    text-indent: 0;
    position: relative;
    font-family:'SimSun';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
     font-size: 0.5em;
     position: absolute;
     margin: 5%;
     bottom: 0;
  }
}

#frames .panels [data-alongslide-id=zibin-second-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.preface {
    margin: 15%;
    p {

    }
  }

}

#frames .panels [data-alongslide-id=zibin-third-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}

#frames .panels [data-alongslide-id=zibin-fourth-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}
#frames .panels [data-alongslide-id=zibin-fifth-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}
#frames .panels [data-alongslide-id=zibin-sixth-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}
#frames .panels [data-alongslide-id=zibin-seventh-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}
#frames .panels [data-alongslide-id=zibin-eighth-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}
#frames .panels [data-alongslide-id=zibin-ninth-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}
#frames .panels [data-alongslide-id=zibin-tenth-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}
#frames .panels [data-alongslide-id=zibin-eleventh-page].panel {

  color: black;
  font-family:'larish_neue_semibold';

  div.thesis {
    margin: 15%;
    p {
      font-size: 0.7em;
    }
  }
}


.mobile-wrap {
  
  p {
    margin-bottom: 25px;
  }
  .preface {
    p {
    font-style: italic;
    }
  }
}