#frames .panels [data-alongslide-id=intro-addington].panel h4 {
    font-family: 'larish_neue_semibold';
    padding-right: 0%; // position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}

#frames .panels [data-alongslide-id=intro-addington].panel {
    color: black;
    font-family: 'larish_neue_semibold';
    div.intro-card {
        margin-top: 9%;
        height: 60%;
        width: 30%;
        left: 2%;
        position: absolute;
        background-color: #FFFFFF;
        z-index: 15;
        font-weight: bold;
        border: 2px solid black;
        h4 {
            margin-right: 15px
        }
        p {
            margin-right: 15px;
        }
    }
    img.cover {
        position: absolute;
        top: 0;
        left: 0;
    }
    .close {
        position: absolute;
        z-index: 1000;
        a {
            color: rgb(0, 0, 0);
            font-family: "SimSun";
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }
    }
    p.byline {
        font-family: 'SimSun';
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 0.5em;
        margin-left: 5%
    }
    p.bio {
        text-indent: 0;
        position: relative;
        font-family: 'SimSun';
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 0.5em;
        position: absolute;
        margin: 5%;
        bottom: 0;
    }
}

#frames .panels [data-alongslide-id=addington-second-page].panel {
    color: white;
    background-color: #41047A;
    font-family: 'larish_neue_semibold';
    div.row {
        margin-top: 2%;
        margin-left: 2%;
    }
    p {
        margin-bottom: 25px;
        font-size: 0.8em;
        line-height: 24px;
        text-align: justify;
    }
}
#frames .panels [data-alongslide-id=addington-third-page].panel {
    color: white;
    background-color: #41047A;
    font-family: 'larish_neue_semibold';
    div.row {
        margin-top: 2%;
        margin-left: 2%;
    }
    p {
        margin-bottom: 25px;
        font-size: 0.8em;
        line-height: 24px;
        
        text-align: justify;
    }
    .second {
        margin-top: 7%;
    }
}
#frames .panels [data-alongslide-id=addington-fourth-page].panel {
    color: white;
    background-color: #41047A;
    font-family: 'larish_neue_semibold';
    div.row {
        margin-top: 10%;
        margin-left: 2%;
    }
    p {
        margin-bottom: 25px;
        font-size: 0.8em;
        line-height: 24px;
        text-align: justify;
    }
    .second {
        margin-top: 7%;
    }
}