#frames .panels [data-alongslide-id=intro-ho].panel h4 {
    font-family: 'larish_neue_semibold';
    padding-right: 0%; // position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}

#frames .panels [data-alongslide-id=intro-ho].panel {
    color: black;
    font-family: 'larish_neue_semibold';
    background-color: #ab0c0c;
    div.intro-card {
        margin-top: 2%;
        height: 50%;
        width: 40%;
        left: 30%;
        position: absolute;
        background-color: white;
        z-index: 15;
        font-weight: bold;
        border: 2px solid black;
        h4 {
            margin-right: 15px
        }
        p {
            margin-right: 15px;
        }
    }
    img.looking {
        max-height: 600px;
        position: absolute; // left: 20%;
        right: 0;
        float: right;
    }
    p.byline {
        font-family: 'SimSun';
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 0.5em;
        margin-left: 5%
    }
    p.bio {
        text-indent: 0;
        position: relative;
        font-family: 'SimSun';
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 0.5em;
        position: absolute;
        margin: 5%;
        bottom: 0;
    }
}

#frames .panels [data-alongslide-id=ho-second-page].panel {
    color: white;
    background-color: #ab0c0c;
    font-family: 'larish_neue_semibold';
    div.row {
        
    }
    p {
        line-height: 20px;
        margin-bottom: 25px;
        font-size: 0.8em;
    }
    span.loud {
        font-size: 1.5em;
    }
}
#frames .panels [data-alongslide-id=ho-third-page].panel {
    color: white;
    background-color: #ab0c0c;
    font-family: 'larish_neue_semibold';
    div.row {
        
    }
    p {
        margin-bottom: 25px;
        font-size: 0.8em;
    }
    span.loud {
        font-size: 1.5em;
    }
}
    #frames .panels [data-alongslide-id=ho-fourth-page].panel,
    #frames .panels [data-alongslide-id=ho-fifth-page].panel,
    #frames .panels [data-alongslide-id=ho-sixth-page].panel,
    #frames .panels [data-alongslide-id=ho-seventh-page].panel,
    #frames .panels [data-alongslide-id=ho-eighth-page].panel,
    #frames .panels [data-alongslide-id=ho-ninth-page].panel,
    #frames .panels [data-alongslide-id=ho-tenth-page].panel,
#frames .panels [data-alongslide-id=ho-eleventh-page].panel {
    .ho-space {
        margin-top: 100px;
    }
    color: white;
    background-color: #ab0c0c;
    font-family: 'larish_neue_semibold';
    div.row {
        
    }
    p {
        margin-bottom: 25px;
        font-size: 0.8em;
    }
    span.loud {
        font-size: 1.5em;
    }
}