.mobile-wrap {
  img {
    margin-bottom: 15px;
  }
}
  p.writer-bio {
    font-size: 0.9em;
    font-family: 'SimSun';
  }
  p.image-caption {
    font-size: 0.7em;
    font-family: 'SimSun';
    font-style: italic;
  }
  p.cited {
    font-size: 0.9em;
    font-family: 'SimSun';
    text-decoration: underline;
    display: block;  
  }
  p.mobile-footnote {
    font-size: 0.9em;
    font-family: 'SimSun';
  }
  div.notes {
    margin-top: 100px;
  }



.header {
  margin-top: 15px;
  margin-bottom: 25px;
}
.qa, .block {
  margin-bottom: 50px;
}
.question, .secondary-header {
  margin-bottom: 15px;
  text-decoration: underline;
  // font-family: "SimSun"
}
.answer {
  
}

.index-byline {
  // font-family: "SimSun"
}

.issue-title {
  font-size: 1.2em;
}
.mail_to {
  color: black;
  &:hover {
    color: black;
  }
}