<main class="container-fluid page">
  <section class="row">
    <section class="col-md-12">
      <h1 class="text-center header">Contributors</h1>
    </section>
  </section>


  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Maxwell Addington</p>
      <p class="writer-bio">Maxwell Addington is a writer from Vancouver, Coast Salish Territory. In 2017, he was awarded the Jill Davis Fellowship
        to pursue an MFA in Fiction at New York University.</p>
    </section>
  </section>


  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Fabiola Carranza</p>
      <p class="writer-bio">Fabiola Carranza (b.1983) is a Costa Rican/Canadian artist living in Southern California. Carranza makes multi-disciplinary
        artworks that incorporate or adapt readily available materials. She examines the political potential of visual, cultural
        and personal phenomena through her art and writing.</p>
    </section>
  </section>



  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">listen chen 陳聽春</p>
      <p class="writer-bio">listen chen 陳聽春 is a daoist & a bat-enthusiast who lives & writes on unceded coast salish territories</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Kay Higgins</p>
      <p class="writer-bio">Kay Higgins is an artist and cultural worker based in Vancouver. She was a co-founder of Artspeak Gallery and the Pacific
        Association of Artist Run Centres, and is co-proprietor (with Kathy Slade) of the artist press Publication Studio
        Vancouver and Executive Director of the artist-run space UNIT/PITT Projects, both located in Chinatown. In the past
        she has been a curator, editor, factory and warehouse labourer, technology consultant, and candidate for municipal
        office.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Stacey Ho</p>
      <p class="writer-bio">Stacey Ho is an artist, writer, and curator living on unceded Coast Salish territories. Her practice considers intersections
        of culture, history, and embodied experience from a feminist perspective. With a background in photography and performance
        art, her art often incorporates language, sound, gesture, and everyday objects. She has presented her work at Art
        Metropole (Toronto), Galerie oqbo (Berlin), RAM Galleri (Oslo) and most recently in Dar’a: Full Circle, a group exhibition
        curated by Jamelie Hassan at Artcite (Windsor). She is working on a novel about plants and robots.
      </p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Steffanie Ling</p>
      <p class="writer-bio">Steffanie Ling is a writer, editor and critic. Her books are Nascar (Blank Cheque, 2016) and Cuts of Thin Meat (Spare
        Room, 2015). She is co-editor of Charcuterie. </p>
    </section>
  </section>
  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Juli Majer</p>
      <p class="writer-bio">Juli Majer is a visual artist from Vancouver whose practice comprises drawing, ceramics, sculpture, installation, performance, comics and publishing. She is interested in conveying hyper-polarized psychological and emotional states, which she often mediates through narrative imagery of mysticism and myth, symbolism and snakes, gods and aliens. She teeters on the precipice of a dense and opaque wormhole, pursuing visceral abstractions, inarticulate textures, and peculiar, somatic modes of existence. </p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Byron Peters</p>
      <p class="writer-bio">Byron Peters is a Vancouver-based artist, writer, and educator.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Dan Pon</p>
      <p class="writer-bio">Dan Pon is is the archivist at the grunt gallery and also a librarian at Langara College and the West Vancouver Memorial
        Library.
      </p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Jacquelyn Ross</p>
      <p class="writer-bio">Jacquelyn Ross is a writer and critic based in Vancouver and Toronto. She edits the literary journal Young Adult, and
        her art criticism has been published in Canada and internationally. Recent book projects include Mayonnaise, a collection
        of poems (2016), and Drawings on Yellow Paper, a collaboration with artist Katie Lyle (forthcoming August 2016).
        She runs Blank Cheque Press from the comfort of her living room, and is currently at work on her first book of stories.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Vincent Tao</p>
      <p class="writer-bio">Vincent Tao is the librarian at Pollyanna Library, where he is responsible for the collection and associated programs.
        His independent research and organizing work concerns urban displacement and the right to the city. Prior to moving
        to Vancouver, he studied at McGill University in Montreal where he was a outreach coordinator for a worker-run community
        kitchen.
      </p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Stephan Wright</p>
      <p class="writer-bio">Stephan Wright is an artist, designer and works as the Technical Lead at 221A.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Sungpil Yoon</p>
      <p class="writer-bio">Sungpil Yoon is a writer and curator. He is Director of Spare Room, a subsidiary of Rice Cooker Hair Salon Inc. a non-profit
        organization that explores the composition of theories and objects through the lens of artistic practices. Yoon is
        a graduate of the UBC Art History department and currently works in Vancouver from 222, a studio building in Chinatown.</p>
    </section>
  </section>


  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Jacobo Zambrano</p>
      <p class="writer-bio">Jacobo Zambrano is an artist from Caracas, Venezuela living in Vancouver, Canada. Zambrano is interested in historical
        cultural narratives that are often considered as defining milestones in current socio-political and economic contexts,
        mostly in relation to the global peripheries. The North- South Divide constitutes one of the primary subjects of
        research in his conceptual practice, as this particular paradigm defines how identities have been constructed due
        to modernity, the artist focuses on the potential for new discourses that challenge the dynamic between the Old World
        and the New World within his own immediate context. Zambrano often adopts sculpture in conjunction with installation
        as formal tools in his explorations.</p>
    </section>
  </section>


  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Eli Zibin</p>
      <p class="writer-bio">Eli Zibin holds a BA in English Literature from the University of British Columbia. His poetry appeared in Lemon Hound’s “New Vancouver Poets” folio curated by Poetry is Dead.</p>
    </section>
  </section>
  <%= link_to (image_tag 'charc-logo'), root_path, class: 'home-logo-img'  %> 
</main>