<main class="container-fluid page">
  <section class="row">
    <section class="col-md-12">
      <h1 class="text-center header">Contributors</h1>
    </section>
  </section>

  
  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Maxwell Addington</p>
      <p class="writer-bio">Maxwell Addington is a writer from Vancouver, Coast Salish Territory. In 2017, he was awarded the Jill Davis Fellowship
        to pursue an MFA in Fiction at New York University.</p>
    </section>
  </section>


  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Fabiola Carranza</p>
      <p class="writer-bio">Fabiola Carranza (b.1983) is a Costa Rican/Canadian artist living in Southern California. Carranza makes multi-disciplinary
        artworks that incorporate or adapt readily available materials. She examines the political potential of visual, cultural
        and personal phenomena through her art and writing.</p>
    </section>
  </section>



  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Bopha Chhay</p>
      <p class="writer-bio">Bopha Chhay is a writer and curator based in Vancouver. She is co-founder of livedspace, a research and publishing organization.
    She has held positions at Enjoy Public Art Gallery (New Zealand), Afterall (Contemporary arts research and publishing)
    Central Saint Martins College of Arts & Design (UK), 221A Artist run centre and currently holds the position of Director/Curator
    at Artspeak in Vancouver. She provides editorial support for Bartleby Review and is co-founder and an editor of Charcuterie.</p>
    </section>
  </section>
  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">listen chen 陳聽春</p>
      <p class="writer-bio">listen chen 陳聽春 is a daoist & a bat-enthusiast who lives & writes on unceded coast salish territories</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Kay Higgins</p>
      <p class="writer-bio">Kay Higgins is an artist and cultural worker based in Vancouver. She was a co-founder of Artspeak Gallery and the Pacific
        Association of Artist Run Centres, and is co-proprietor (with Kathy Slade) of the artist press Publication Studio
        Vancouver and Executive Director of the artist-run space UNIT/PITT Projects, both located in Chinatown. In the past
        she has been a curator, editor, factory and warehouse labourer, technology consultant, and candidate for municipal
        office.</p>
    </section>
  </section>
  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Jamie Hilder</p>
      <p class="writer-bio">Jamie Hilder is a Vancouver-based artist and writer whose work engages the intersections of economics and aesthetics. He
    has exhibited work internationally,and his critical writing has appeared in Fillip, Yishu Journal of Contemporary Chinese
    Art,Contemporary Literature, and Public Art Dialogue. His book Designed Words for a Designed World: The International
    Concrete Poetry Movement,1955–1971 (McGill-Queens UP,2016) addresses the effects that technologies of an emergent globalism
    had on the poetry of the mid-twentieth century. He is an instructor in the Critical and Cultural Studies Department at
    Emily Carr University of Art and Design.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Stacey Ho</p>
      <p class="writer-bio">Stacey Ho is an artist, writer, and curator living on unceded Coast Salish territories. Her practice considers intersections
        of culture, history, and embodied experience from a feminist perspective. With a background in photography and performance
        art, her art often incorporates language, sound, gesture, and everyday objects. She has presented her work at Art
        Metropole (Toronto), Galerie oqbo (Berlin), RAM Galleri (Oslo) and most recently in Dar’a: Full Circle, a group exhibition
        curated by Jamelie Hassan at Artcite (Windsor). She is working on a novel about plants and robots.
      </p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Tiziana La Melia</p>
      <p class="writer-bio">Tiziana La Melia is an artist and writer based in Vancouver. Recent exhibitions include The pigeon looks for death in the
    space between the needle and the haystack (2017), LECLERE Centre d’art, Marseille; Broom Emotion (2017), galerie anne
    baurrault, Paris; Johnny Suede (2017), Damien and the Love Guru, Brussels; Kamias Triennale, Quezon City (2017); Stopping
    the Sun in its Course, Ghebaly (2015) Gallery, Los Angeles; Innocence at Home (2015), CSA, Vancouver. Her writing has
    appeared in Agony Klub, The Interjection Calendar, Organism for Poetic Research, The Capilano Review, and C Magazine. </p>
    </section>
  </section>
  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Steffanie Ling</p>
      <p class="writer-bio">Steffanie Ling is a writer, editor and critic. Her books are Nascar (Blank Cheque, 2016) and Cuts of Thin Meat (Spare
        Room, 2015). She is co-editor of Charcuterie. </p>
    </section>
  </section>
  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Juli Majer</p>
      <p class="writer-bio">Juli Majer is a visual artist from Vancouver whose practice comprises drawing, ceramics, sculpture, installation, performance, comics and publishing. She is interested in conveying hyper-polarized psychological and emotional states, which she often mediates through narrative imagery of mysticism and myth, symbolism and snakes, gods and aliens. She teeters on the precipice of a dense and opaque wormhole, pursuing visceral abstractions, inarticulate textures, and peculiar, somatic modes of existence. </p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Byron Peters</p>
      <p class="writer-bio">Byron Peters is a Vancouver-based artist, writer, and educator.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Dan Pon</p>
      <p class="writer-bio">Dan Pon is is the archivist at the grunt gallery and also a librarian at Langara College and the West Vancouver Memorial
        Library.
      </p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Jacquelyn Ross</p>
      <p class="writer-bio">Jacquelyn Ross is a writer and critic based in Vancouver and Toronto. She edits the literary journal Young Adult, and
        her art criticism has been published in Canada and internationally. Recent book projects include Mayonnaise, a collection
        of poems (2016), and Drawings on Yellow Paper, a collaboration with artist Katie Lyle (forthcoming August 2016).
        She runs Blank Cheque Press from the comfort of her living room, and is currently at work on her first book of stories.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Denise Ryner</p>
      <p class="writer-bio">Denise Ryner has worked in commercial, public and artist-run galleries in Toronto and Vancouver for over ten years. These
    include Art Metropole,Justina M.Barnicke Gallery,the Jackman Humanities Institute,the Vancouver Art Gallery, SFU Galleries
    as well as the Haus der Kulturen der Welt in Berlin. She completed her BA and MA in art history at the University of
    Toronto and the University of British Columbia respectively. Currently she is the Director/Curator at Or Gallery, Vancouver.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Vincent Tao</p>
      <p class="writer-bio">Vincent Tao is the librarian at Pollyanna Library, where he is responsible for the collection and associated programs.
        His independent research and organizing work concerns urban displacement and the right to the city. Prior to moving
        to Vancouver, he studied at McGill University in Montreal where he was a outreach coordinator for a worker-run community
        kitchen.
      </p>
    </section>
  </section>

  

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Casey Wei</p>
      <p class="writer-bio">Casey Wei is an interdisciplinary artist, filmmaker, and musician based in Vancouver. Her practice has evolved from filmmaking
      (Murky Colors in 2012, Vater und Sohn / Father and Son / 父与子 in 2013), into works that cross over between art, music,
      and the community at large (Kingsgate Mall Happenings in 2014, Chinatown Happenings in 2015, the art rock? series 2015-present,
      and the Karaoke Music Video Free Store in 2017). In 2016, she began Agony Klub, a music and printed matter label that
      releases material under the framework of the “popular esoteric”. Her music projects include Kamikaze Nurse, hazy, and
      Late Spring</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Stephan Wright</p>
      <p class="writer-bio">Stephan Wright is an artist, designer and works as the Technical Lead at 221A.</p>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Sungpil Yoon</p>
      <p class="writer-bio">Sungpil Yoon is a writer and curator. He is Director of Spare Room, a subsidiary of Rice Cooker Hair Salon Inc. a non-profit
        organization that explores the composition of theories and objects through the lens of artistic practices. Yoon is
        a graduate of the UBC Art History department and currently works in Vancouver from 222, a studio building in Chinatown.</p>
    </section>
  </section>


  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Jacobo Zambrano</p>
      <p class="writer-bio">Jacobo Zambrano is an artist from Caracas, Venezuela living in Vancouver, Canada. Zambrano is interested in historical
        cultural narratives that are often considered as defining milestones in current socio-political and economic contexts,
        mostly in relation to the global peripheries. The North- South Divide constitutes one of the primary subjects of
        research in his conceptual practice, as this particular paradigm defines how identities have been constructed due
        to modernity, the artist focuses on the potential for new discourses that challenge the dynamic between the Old World
        and the New World within his own immediate context. Zambrano often adopts sculpture in conjunction with installation
        as formal tools in his explorations.</p>
    </section>
  </section>


  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Eli Zibin</p>
      <p class="writer-bio">Eli Zibin holds a BA in English Literature from the University of British Columbia. His poetry appeared in Lemon Hound’s “New Vancouver Poets” folio curated by Poetry is Dead.</p>
    </section>
  </section>
  <%= link_to (image_tag 'charc-logo'), root_path, class: 'home-logo-img'  %> 
</main>