<main class="container mobile-wrap">
<h1 class="issue-two-title">future decapitations under posh hats</h1>
    <div class="row">
    <%= image_tag "2laptop", class:"img-fluid mx-auto max-size" %>
    <%= image_tag "poster_edition_2", class:"img-fluid mx-auto max-size" %>
  </div>
    <p class="image-caption">Pony tail sings (after Juli Majer)<br><br>Behind a barricade hands speak<br>Sentences so tentacular they noodle<br>into my ear hole, nose holes and other<br>holes but not the unspeakable ones<br>don't worry<br><br>Stacked melamine<br>the keenest plastic<br>full and smelly clouds beaming<br>from behind the glass flecked with<br>good potions<br><br>All my change, please<br>for the Special, please<br>that which lives on the sign<br>all the time<br>It’s better not to ask<br><br>“What makes this so Special”<br>Because it’s tastier,<br>before a sip on a thousand<br>squished calamansis, sugar granules, ice<br>from the wide mouth of robust cheap wares,<br>to tell yourself<br>it came from Space<br>and spoke into my hole<br>the speakable one<br>don't worry<br><br>engulfed in the vocabulary<br>of garlic, powders and flames</p>
    <div class="intro-card">
        <p class="writer-bio">Juli Majer is a visual artist from Vancouver whose practice comprises drawing, ceramics, sculpture, installation, performance, comics and publishing. She is interested in conveying hyper-polarized psychological and emotional states, which she often mediates through narrative imagery of mysticism and myth, symbolism and snakes, gods and aliens. She teeters on the precipice of a dense and opaque wormhole, pursuing visceral abstractions, inarticulate textures, and peculiar, somatic modes of existence. </p>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 editors-note">
            <h3>Editors Note:</h3>
            <p>We are pleased to have hinted at some growth. But we should also acknowledge two regressions. 
First, how refusal is talked about in contemporary art: like we’ve found the sweet spot between direct action and conscientious objection. The second, the deployment of refusal within our own petite bourgeois bs. Walking around Chinatown and Gastown, we don’t have enough friends with enough hands to count how many businesses we should probably refuse to shop or eat at — a slippery slope wherein somewhere along this righteous descent, we’ll consider becoming vegans, buying locally, and in a twist become anarcho-primitivists (except not, because hippies...), where the politics of refusal reveals a privilege to refuse. We’ll take a Refusal Lite, please! With this we end up with zones of exclusion, pockets of conspicuous consumption and an ill-conceived ahistorical comprehension of the significance of refusal as a tactical approach to labour dissent</p> 
<p>Let us be clear that the meaning of the politics of refusal is the politics of a refusal of work, and we cannot claim these politics simply by virtue of saying no to some, but not all things that corrupt our character. We too subscribe to a series of No’s, but subscribing to a magazine is not the same as reading it and sometimes we should consider ourselves illiterate. The fact of the matter is we invested many hours of skill and thinking, and made a magazine that’s slightly bigger than the one before it.</p>
<p>The Empty Husk Condition, Fabiola Carranza’s report on two recent exhibitions in Los Angeles, grants us a glimpse into the tension between what we expect to find in art, and what actually gets presented to us. She writes that a sculpture-mannequin donning a Rococo-style wig conjure past autocrats and “warn of future decapitations under posh hats.”  While that may seem morbid, to us as readers, it’s kind of fanciful, this notion that we could sever the metaphorical hydra bearing authority. </p>
<p>Though contemporary art and poetics might have “refusal” on loan — it helps us make sense of why we still make art and culture right now — it still seems just a bit insincere. In our lives, we reserve the right to refuse, in our art we develop an aesthetics of refusal. Make no mistake. Work is more agile than us! (Case and point: dinners that revealed themselves to be meetings). So, we are seduced by hybrid states. Stacey Ho’s Third Adventures from the Third Bureau excavates the inner bureaucracy of personal politics: “It is a tricky question if you can’t discern yes from no, fat from thin. A world of false oppositions.” Is our leisure distinct from truly rewarding labour? The most radical subversion of indecision is having both, but is there any cake to be eaten?</p>
<p>As artists, we must have politics, though politics gets along unflinchingly without art. Do we really think that with all our refusing, we will logically end up with just the good shit? We end up with, effectively, less than nothing, the absence of the refused, and the void where the solution should be. Refusing not to strike on International Women’s Day, in solidarity with those women who can’t afford to not go to work. Refusal is not another way of saying no, it is a strategy that enables other possibilities not already determined. But we can’t thrive on potentiality alone! We don’t have the answers, but we’re also not unintelligent. Rejection is not obliteration. </p>
            <br>
            <br>
            Your editors, 
            <br>
            <br>
Bopha Chhay
            <br>
Steffanie Ling
<br>
Eli Zibin
</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 colophon">
            <h3>Colophon:</h3>
            <p>Editors: Bopha Chhay and Steffanie Ling, and Eli Zibin<br>
Authors: Maxwell Addington, Fabiola Carranza, Stacey Ho, Steffanie Ling, Sung Pil Yoon<br>
Poster Edition: Juli Majer<br>
Design: Victoria Lum <br>
Publisher: Charcuterie, Vancouver, British Columbia <br>
Printed by: Mills Digital<br>
Cover printed by: East Van Graphics<br>
Edition of 150 <br>
Typefaces: SimSun, Larish Neue <br>
<br>
SimSun<br>
Designed by Microsoft Windows to display Chinese characters. This particular typeface is modeled after printed characters associated with the Song Dynasty. The first movable type technology was invented during the Northern Song Dynasty.
<br><br>
Larish Neue 
Designed by Radim Pesko 
<br><br>
Charcuterie strives to provide a forum for experimental writing and informed polemics without pedantry. It assembles a polyphony of inquiry and documents the messy landscape of opinion and critique that unravels in close proximity to where we work, live and make art in Vancouver. 
<br><br>
Ⓒ 2017 All rights reserved. 
<br><br>
ISSN 2371-4786
</p>
        </div>
    </div>
    <%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %> 
</main>





