<main class="container mobile-wrap">
<h1 class="issue-three-title">need not pander</h1>
    <div class="row">
    <%= image_tag "2store", class:"img-fluid mx-auto max-size" %>
    <%= image_tag "charc3", class:"img-fluid mx-auto max-size" %>
  </div>
    <p class="image-caption">The language of wind curls around your eyes. The baby lion wraps a red ribbon around its neck. It's round and rounded. You ran towards it. Behind the car is another car, and behind that car is a chair. Stay light on your feet.</p>
    <div class="intro-card">
        <p class="writer-bio">Barry Doupé (b. 1982 Victoria, BC) is a Vancouver based artist primarily working with computer animation. He graduated from the Emily Carr University in 2004 with a Bachelor of Media Arts majoring in animation. His films use imagery and language derived from the subconscious; developed through writing exercises and automatic drawing. His films have been screened throughout Canada and Internationally.
        <br>
        <br>
Dennis Ha is a photographer working and living in Vancouver BC
</p>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 editors-note">
            <h3>Editors Note:</h3>
            <p>
            We wanted to make this the September Issue, but we fell behind. So here we are in October reflecting on what could have been the September Issue because we think you understand that this is not our job. We do have jobs though. We are each waged at artist-run centres, a major public gallery, and a tech startup, so we couldn’t meet our publishing deadline. Maybe you’re not interested in where we work, but where we work has affected what ends up in this issue. 
            </p>
<p>
We don’t want to be opaque about our resources (or lack thereof). Charcuterie reflects our capacity as much as our messy aspirations for texture within our experiences, rather than a flattened cultural landscape of consensus and artful glad-handing. In this issue, we just wanted a bit of texture to return. We are regularly experiencing a flattening of opinions and are weirded out by this two-dimensional conviviality. Fake calm water. We identify such cultivated complacency—evident in the mounting of problematic exhibitions that come and go without any significant fulmination, and the tendency to make personal, political, compromises for professional advancement or amenability—with an adjacent flattening that is committed in equal or greater measure by municipal, provincial, federal and corporate bodies. The physical flattening of public space for development, that directly contributes to  the continual flattening of cultural and racial identity. The flattening of history and a denial of agency and social erasure. It all permits political apathy to be met with reward. 
</p>
<p>
We’re not sure if apathy is the result of a lack of imagination, laziness, or varying degrees of self-preservation but it is certainly indicative of a narrowed imagination, a neoliberal one; one that presents us with an increasingly limited range of options., We’re told that these are all your outlets—when we all know we have more.
</p>

            <br>
            <br>
            Your editors, 
            <br>
            <br>
Bopha Chhay
            <br>
Steffanie Ling
<br>
Eli Zibin
</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 colophon">
            <h3>Colophon:</h3>
            <p>Editors: Bopha Chhay, Steffanie Ling and  Eli Zibin <br>
Authors: listen chen, Bopha Chhay, Kay Higgins, Jamie Hilder, Steffanie Ling, Byron Peter, Dan Pon, Denise Ryner, Vincent Tao, Casey Wei, Stephan Wright and Sung Pil Yoon<br>
Poster Edition: Barry Doupé and Dennis Ha <br>
Design: Victoria Lum <br>
Web: Eli Zibin <br>
Publisher: Rice Cooker/Hair Salon <br>
Printed by: Mills Digital<br>
Cover printed by: East Van Graphics<br>
Edition of 150 <br>
Typefaces: SimSun, Larish Neue <br>
<br>
SimSun<br>
Designed by Microsoft Windows to display Chinese characters. This particular typeface is modeled after printed characters associated with the Song Dynasty. The first movable type technology was invented during the Northern Song Dynasty.
<br><br>
Larish Neue 
Designed by Radim Pesko 
<br><br>
Charcuterie strives to provide a forum for experimental writing and informed polemics without pedantry. It assembles a polyphony of inquiry and documents the messy landscape of opinion and critique that unravels in close proximity to where we work, live and make art in Vancouver. 
<br><br>
Ⓒ 2017 All rights reserved. 
<br><br>
ISSN 2371-4786
</p>
        </div>
    </div>
    <%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %> 
</main>





