<div id="content-display">
  <article id="frames">
    <div class="backgrounds"></div>
    <div class="flow"></div>
    <div class="panels"></div>
  </article>
</div>
<div id="content" style="display: none">
  <%= raw Alongslide::render(@markdown_content) %>
</div>
