<main class="container-fluid">
  <section class="row">
    <section class="col-md-12">
      <h1 class="text-center header">Information</h1>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
      <p class="secondary-header">Order</p>
      <p>To order a copy of Charcuterie, please email us at
      <%= mail_to "info@charcuterie.party", "info@charcuterie.party", class: "mail_to" %>
      </p>
      <p>You can also pick up copies at the following locations:</p>
      <br>
      <ul>
        <li>Or Bookstore</li>
        <li>Read Books</li>
        <li>Pulp Fiction</li>
        <li>Art Metropole</li>
        <li>The Paperhound</li>
        <li>Lucky's Comics</li>
      </ul>
    </section>
  </section>

  <section class="row block">
    <section class="col-md-8 offset-md-2">
    <p class="secondary-header">People</p>
      <p>Editors: Bopha Chhay, Steffanie Ling, Eli Zibin</p>
      <p>Design: Victoria Lum</p>
      <p>Web: Eli Zibin</p>
    </section>
  </section>
  
</main>