<main class="container-fluid">
<section class="row">
  <section class="col-md-12">
    <h1 class="text-center header">Potentially Asked Questions</h1>
  </section>
</section>

<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">How often does Charcuterie publish?
    </p>
    <p class="answer"> Twice a year in October and April in editions of 150. After we launch an issue, we publish the previous issue online
      on our website, which also functions as an archive of our activities, content and and interim publications.</p>
  </section>
</section>
<!-- <section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">What’s the best way to keep up to date with Charcuterie?
    </p>
    <p class="answer"> Join our mailing list at https://join.the.charcuterie.party.</p>
  </section>
</section> -->
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">The page numbers in my copy of Charcuterie 3 start with 48. Is this a mistake?
    </p>
    <p class="answer">The page numbers carry over from the previous issues. We envision one day we would combine all the issues into one volume.</p>
  </section>
</section>
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">What is the Rice Cooker/Hair Salon?
    </p>
    <p class="answer">The Rice Cooker/Hair Salon Society for Art and Criticism is the non-profit society that operates and financially administrates
      Charcuterie, Spare Room and LIT LIT LIT LIT. It was founded in 2017 when Spare Room director Sungpil Yoon and Charcuterie
      co-founder Steffanie Ling wanted to create one society to work and learn collaboratively to navigate the bureaucracies
      and legal structures of artist-run culture.
    </p>
  </section>
</section>
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">Where do you get your funding?
    </p>
    <p class="answer">Charcuterie is personally funded by each of its editors and one art director who share the printing costs of each issue.
      We apply for public funding now and then, but not tenaciously. We are also pretty lackadaisical about fundraising.
      We prioritize our energies on editing.</p>
  </section>
</section>
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">How do I submit?
    </p>
    <p class="answer">We do not have the capacity to initiate an open call or process open submissions so content has been solicited by invitation,
      however, we are always open to general inquiries and would never disregard a solid writing pitch.
      <br> We do not accept submissions for the poster editions.
    </p>
  </section>
</section>
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">What kind of content are you generally looking for, in case I am interested in sending a pitch?
    </p>
    <p class="answer">We have published long form essays 1000-2500 words, poetry, film, book, exhibition reviews, short stories.
      <br> Each issue is assembled in response to the conversations and concerns circulating in the communities, neighbourhoods,
      and institutions that are frequented for discourse, kinship, production, labour and spectatorship that are polemical
      in nature. We are open to what cultural producers are interested in engaging with beyond the purview of institutional
      or received expertise, and hope to offer a space to unravel unconventional methodology, opinion etc. We value sincerity,
      clarity and self-reflexivity.
      <br> You can send a pitch to submissions@charcuterie.party
    </p>
  </section>
</section>
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">Do you pay your contributors fees?

    </p>
    <p class="answer">We cannot, currently.</p>
  </section>
</section>
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">Do you pay yourselves?
    </p>
    <p class="answer">We cannot.</p>
  </section>
</section>
<section class="row qa">
  <section class="col-md-8 offset-md-2 col-sm-12">
    <p class="question">How do you afford to produce this publication?
    </p>
    <p class="answer">Each of us are individually employed as administrators, clerks and programmers at artist-run centres, a major public gallery
    and a tech start-up. Our collective structure keeps the expenses low and our events and launches function as minor fundraising
    efforts. We are grateful to all our contributors who donate their contributions and critical views to Charcuterie.
</p>
  </section>
</section>
</main>